<div class="page-container" ng-view ng-controller="ProdutoCtrl"  id="EditingObjId" data="<%=editingUser.id%>" empresa_atual="<%=(current_user.settings(:last_empresa).edited).id%>" modalidade='<%= @modalidadebcicmsst.to_json.html_safe=%>' icmsproduto='<%= @icmsproduto.to_json.html_safe=%>' estados='<%= @estado.to_json.html_safe=%>'>

	<div class="page-head">
		<div class="page-content">
			<div class="container">
				<!-- BEGIN PAGE BREADCRUMB -->
				<ul class="page-breadcrumb breadcrumb">
					<li>
						<%= link_to "Pagina Inicial", root_path, 'data-no-turbolink' => true %>
					</li>
					<i class="fa fa-circle"></i>
					<li>
						<%= link_to "Produtos", produtos_path, 'data-no-turbolink' => true %>
					</li>
					<i class="fa fa-circle"></i>
					<li class="active">
						Novo
					</li>
				</ul>

				<div class="col-md-12">
					<div class="profile-sidebar" style="width: 220px;">
						<!-- PORTLET MAIN -->

						<div class="portlet light profile-sidebar-portlet">
							<center>
								<div class="fileinput fileinput-new " data-provides="fileinput">
									<div class="fileinput-preview thumbnail" data-trigger="fileinput" id="target" style="width: 170px; height: 170px;">
									</div>
									<div>
										<span class="btn btn-circle blue btn-file"> <i class="fa fa-upload"></i> 
										   Escolher Imagem <input type="file" id="pictureInput" ng-click="setImage()" fileread="data.p_photo">
										</span>

									</div>
								</div>
							</center>
							<br>
						</div>

						<div class="portlet light ">
							<div class="profile-usertitle-name">
								 Empresas
							</div>
							<div class="profile-desc-text">
								<div class="form-group">
									<div class="checkbox-list">
										<div ng-repeat="x in empresas_total" >
											<input type="checkbox" ng-click="getValue($event, $index); getGrupos(); getUnidades()" ng-disabled="x.id == empresa_atual" ng-checked="x.id == empresa_atual || data.empresas.indexOf(x.id) > -1" value='{{x.id}}' class="checkboxes"> {{ x.nome_fantasia }} </input>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="profile-content">
						<div class="row">
							<div class="col-md-12">
								<div class="portlet light">
									<div class="portlet-title tabbable-line">
										
										<div class="caption caption-md">
											<i class="fa fa-plus"></i> <span class="caption-subject font-blue-madison bold uppercase">Novo Produto</span>
										</div>

										<div class="actions btn-set">
											<%= link_to "Voltar", produtos_path, :class => "btn default btn-circle ", 'data-no-turbolink' => true %>
											<button ng-click="save()" class="btn green-meadow btn-circle"><i class="fa fa-check"></i> Salvar</button><br>
										</div>
									</div>
									<div id="error_explanation" class="Metronic-alerts alert alert-danger" ng-if="mensagens.length > 0">
										<ul ng-repeat="m in mensagens">
											 <li>{{m}}</li>
										</ul>
									</div>
									<div class="portlet-body">
										<ul class="nav nav-tabs">
											<li class="active">
												<a id="tabgeral" href="#tab_1" data-toggle="tab"> Geral </a>										
											</li>
											<li>
												<a id="tabicmsproduto" href="#tab_2" data-toggle="tab"> ICMS </a>
											</li>
										</ul>
										<div class="tab-content no-space">

										<div class="tab-pane active" id="tab_1">
											<div class="form-group">
												<div class="row">
													<div class= "col-md-4">
														<label class="control-label ">Código</label>
														<input type="text" name="codigo" ng-model='data.codigo' class='form-control placeholder-no-fix'>
													</div>
												</div>
											</div>

											<div class="form-group">
												<div class="row">
													<div class="col-md-12">											
														<label class="control-label ">Descrição</label>
														<input type="text" name="descricao_desc" ng-model='data.descricao' class='form-control placeholder-no-fix'>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-md-6">
														<label class="control-label ">Grupo</label><br>

														<select ng-model="data.grupo_id" ng-change="getSubGrupos()" class='form-control' ng-options="g.id as g.descricao for g in grupo_opts">
														</select>

													</div>
													<div class="col-md-6">
														<label class="control-label ">Sub-Grupo</label><br>

														<select ng-model="data.subgrupo_id" class='form-control' ng-options="sg.id as sg.descricao for sg in subgrupo_opts">
														</select>

													</div>
												</div>
											</div>


											<div class="form-group">
												<div class="row">
													<div class="col-md-6">
														<label class="control-label ">Unidade</label>
														<select ng-model="data.unidade" name="descricao"  class='form-control' ng-options="u.descricao as u.descricao for u in unidade_opts">
														</select>
													</div>
													<div class="col-md-6">
														<label class="control-label ">Preço</label>
														<div class="input-group">
															<span class="input-group-addon"> R$ </span>
															<input type="text" name="descricao" ng-model='data.preco' class='form-control placeholder-no-fix'> 
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="tab_2">
											<table class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th>Estado</th>
														<th>R. BC</th>
														<th>Dif.</th>
														<th>Alíquota</th>
														<th>ICMS ST</th>
														<th width="190px;">Mod. BC ICMS ST</th>
														<th>MVA</th>
														<th>R. MVA</th>	
														<th>Opções</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="icmscf in icmsproduto ">
														<td>{{estadoPorId(icmscf.estado_id).descricao}}</td>
														<td>{{icmscf.reducaobasecalculo}}</td>
														<td>{{icmscf.diferimento}}</td>
														<td>{{icmscf.aliquota}}</td>
														<td>
															<span ng-if="icmscf.icmsst" class="glyphicon glyphicon-ok font-green"/>									
														</td>
														<td>{{modalidadebcicmsstPorId(icmscf.modalidadebcicmsst_id).descricao}}</td>
														<td><span ng-if="icmscf.modalidadebcicmsst_id == '5'">{{icmscf.mva}}</span></td>
														<td>
															<span ng-if="icmscf.modalidadebcicmsst_id == '5' && icmscf.reducaomva" 
																  class="glyphicon glyphicon-ok font-green"/>														
														</td>
														<td><a id="editarIcms" ng-click="setIcmsCF(icmscf.estado_id)" class="btn yellow btn-xs" data-toggle="modal" href="#popupIcms">Editar</a></td>
													</tr>
												</tbody>
											</table>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="popupIcms" tabindex="-1" role="basic" aria-hidden="true" >
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">				
					<h4 class="modal-title">ICMS</h4>
				</div>
				<div class="modal-body">
					<div ng-if="mensagensIcms.length > 0" id="error_explanation" class="Metronic-alerts alert alert-danger">
						<ul ng-repeat="msg in mensagensIcms">												
					 		<li>{{msg}}</li>													
						</ul>
					</div>
					<form>				
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">Redução BC</label>
								<div class="input-group">
									<input type="number" name="reducaobasecalculo" ng-model="icmsproduto[indexIcmsCF].reducaobasecalculo" class="form-control placeholder-no-fix"></input>
									<span class="input-group-addon">%</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">Diferimento</label>
								<div class="input-group">
									<input type="number" name="diferimento" ng-model="icmsproduto[indexIcmsCF].diferimento" class="form-control placeholder-no-fix"></input>
									<span class="input-group-addon">%</span>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label class="control-label">Alíquota</label>
								<div class="input-group">
									<input type="number" name="aliquota" ng-model="icmsproduto[indexIcmsCF].aliquota" class="form-control placeholder-no-fix"></input>
									<span class="input-group-addon">%</span>
								</div>
							</div>
						</div>					
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label class="control-label">ICMS ST</label>														
								<div>
									<label>
										<input id="icmsst" type="checkbox" ng-click="clickIcmsst($event)">
									</label>
								</div>													
							</div>
						</div>
						<div class="col-md-9" ng-show="icmsproduto[indexIcmsCF].icmsst">
							<label class="control-label">Modalidade BC ICMS ST</label>
							<select name="modalidadebcicmsst_id" class="form-control" ng-model="icmsproduto[indexIcmsCF].modalidadebcicmsst_id"
									ng-options="value.id as value.codigo+' - '+value.descricao for (key, value) in modalidadebcicmssts">												
							</select>
						</div>
					</div>
					<div class="row">	
						<div class="col-md-3">
							<div ng-show="icmsproduto[indexIcmsCF].icmsst && icmsproduto[indexIcmsCF].modalidadebcicmsst_id == '5'" class="form-group">
								<label class="control-label">MVA</label>
								<div class="input-group">
									<input type="number" name="mva" ng-model="icmsproduto[indexIcmsCF].mva" class="form-control placeholder-no-fix"></input>
									<span class="input-group-addon">%</span>
								</div>
							</div>
						</div>
						<div class="col-md-9">
							<div ng-show="icmsproduto[indexIcmsCF].icmsst && icmsproduto[indexIcmsCF].modalidadebcicmsst_id == '5'" class="form-group">
								<label class="control-label">Permite Redução MVA</label>							
								<div>
									<label>
										<input id="reducaomva" ng-click="clickReducaomva($event)" type="checkbox" > 
									</label>								
								</div>
							</div>
						</div>
					</div>	
					</form>			
				</div>
				<div class="modal-footer">
					<button ng-click="cleanIcms()" type="button" class="btn default" data-dismiss="modal">Voltar</button>				
					<button ng-click="saveIcms()" type="button" class="btn blue">Gravar</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>  
</div>


<!-- END PAGE CONTAINER -->