<!-- BEGIN PAGE CONTAINER -->
<div class="page-container" ng-view ng-controller="GrupoCtrl" id="EditingObjId" data="<%=editingUser.id%>" empresa_atual="<%=(current_user.settings(:last_empresa).edited).id%>" ng-cloak="">
	<!-- BEGIN PAGE HEAD -->
	<div class="page-head">
			<!-- END PAGE TITLE -->
			<!-- BEGIN PAGE CONTENT -->
		<div class="page-content">
			<div class="container">
				<!-- BEGIN PAGE BREADCRUMB -->
				<ul class="page-breadcrumb breadcrumb">
					<li>
						<%= link_to "Pagina Inicial", root_path, 'data-no-turbolink' => true %>
					</li>
					<i class="fa fa-circle"></i>
					<li>
						<%= link_to "Grupos", grupos_path, 'data-no-turbolink' => true %>
					</li>
					<i class="fa fa-circle"></i>
					<li class="active">
						<%= t"#{action_name}" %>
					</li>
				</ul>
				<div class="col-md-12">
					<div class="profile-sidebar" style="width: 250px;">
						<!-- PORTLET MAIN -->
						<div class="portlet light ">
							<div class="profile-usertitle-name">
								 Empresas
							</div>
							<div class="profile-desc-text">
								<div class="form-group">
									<div class="checkbox-list">
										<div ng-repeat="x in empresas_total" >
											<input type="checkbox" ng-click="getValue($event, $index)" ng-disabled="x.id == empresa_atual" ng-checked="x.id == empresa_atual || data.empresas.indexOf(x.id) > -1" value='{{x.id}}' class="checkboxes"> {{ x.nome_fantasia }} </input>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="profile-content">
						<div class="row">
							<div class="col-md-12">
								<div class="portlet light">
									<div class="portlet-title tabbable-line">
										<div class="caption caption-md">
											<i class="icon-globe theme-font hide"></i>
												<span class="caption-subject font-blue-madison bold uppercase"><%= t"#{action_name}" %> Grupo</span>
											<i class="fa fa-plus"></i>
										</div>
										<div class="actions btn-set">
											<%= link_to "Voltar", grupos_path, :class => "btn default btn-circle ", 'data-no-turbolink' => true %>
											<button ng-click="save()" class="btn btn-default btn-circle"><i class="fa fa-check"></i> Atualizar</button><br>
										</div>
									</div>
									<div id="error_explanation" class="Metronic-alerts alert alert-danger" ng-if="mensagens.length > 0">
										<ul ng-repeat="m in mensagens">
											 <li>{{m}}</li>
										</ul>
									</div>
									<form name="form_1" class="css-form" novalidate>

										<div class="portlet-body">
											<div class="form-group">
												<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
												<label class="control-label ">Descrição</label>
												<input type="text" name="descricao" ng-model='data.descricao' class='form-control placeholder-no-fix'>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE CONTENT -->
	</div>
</div>  
