<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
	<!-- BEGIN PAGE HEAD -->
	<div class="page-head">
			<!-- END PAGE TITLE -->
			<!-- BEGIN PAGE CONTENT -->
		<div class="page-content">
			<div class="container">
				<!-- BEGIN PAGE BREADCRUMB -->
				<ul class="page-breadcrumb breadcrumb">
					<li>
						<%= link_to "Pagina Inicial", root_path, 'data-no-turbolink' => true %>
					</li>
					<i class="fa fa-circle"></i>
					<li>
						<%= link_to "Grupos", grupos_path, 'data-no-turbolink' => true %>
					</li>
					<i class="fa fa-circle"></i>
					<li class="active">
						Novo
					</li>
				</ul>
				<div class="col-md-12">
					<div class="portlet light">
						<div class="portlet-title tabbable-line">
							<div class="caption caption-md">
								<i class="icon-globe theme-font hide"></i>
									<span class="caption-subject font-blue-madison bold uppercase">Adicionar Grupo</span>
								<i class="fa fa-plus"></i>
							</div>
						</div>
							<div class="portlet-body">
							<%= form_for((@grupo), url: new_grupo_path, html: { method: :post }) do |f|%>
								<% if @grupo.errors.any? %>
									<div id="error_explanation" class="Metronic-alerts alert alert-danger">
										<ul>
											<% @grupo.errors.full_messages.each do |message| %>
											 <li><%= message %></li>
										 <% end %>
										</ul>
									</div>
								<% end %>
								<div class="form-group">
									<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
									<label class="control-label ">Descrição</label>
									<%= f.text_field :descricao,  autofocus: true, :autocomplete => "on", :class =>"form-control placeholder-no-fix"%>
								</div>

								<div class="actions">
										<%= f.submit "Gravar", :class => "btn green-meadow pull-left"%>
								</div><br><br><br>
										
								<%= link_to "Voltar", grupos_path, :class => "btn default ", 'data-no-turbolink' => true %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE CONTENT -->
	</div>
</div>  

<script>

</script>