<!-- BEGIN PAGE CONTAINER -->
<div class="page-container" ng-view ng-controller="ClassificacaofiscalCtrl" ng-cloak="">
	<!-- BEGIN PAGE HEAD -->
	<div class="page-head">
			<!-- END PAGE TITLE -->
			<!-- BEGIN PAGE CONTENT -->
		<div class="page-content">
			<div class="container">
				<!-- BEGIN PAGE BREADCRUMB -->
				<ul class="page-breadcrumb breadcrumb">
					<li>
						<%= link_to "Pagina Inicial", root_path, 'data-no-turbolink' => true %>
					</li>
					<i class="fa fa-circle"></i>
					<li>
						<%= link_to "Classificações Fiscais", classificacaofiscals_path, 'data-no-turbolink' => true %>
					</li>
					<i class="fa fa-circle"></i>
					<li class="active">
						Novo
					</li>
				</ul>
				<div class="col-md-12">
					<div class="portlet light">
						<div class="portlet-title tabbable-line">
							<div class="caption caption-md">
								<i class="icon-globe theme-font hide"></i>
									<span class="caption-subject font-blue-madison bold uppercase">Classificação Fiscal</span>
								<i class="fa fa-plus"></i>
							</div>
							<div class="actions btn-set">									
									<%= link_to '<i class="fa fa-angle-left"></i> Voltar'.html_safe,classificacaofiscals_path, :type => "button",:name => "back",
									:class => "btn btn-default btn-circle", 'data-no-turbolink' => true %>													
									<button ng-click="save()" class="btn green-haze btn-circle"><i class="fa fa-check"></i> Gravar</button>
							</div>		
						</div>
						<div ng-if="mensagens.length > 0" id="error_explanation" class="Metronic-alerts alert alert-danger">
							<ul ng-repeat="msg in mensagens">												
						 		<li>{{msg}}</li>													
							</ul>
						</div>					
						<div class="portlet-body">
							<div class="tabbable">
								<ul class="nav nav-tabs">
									<li class="active">
										<a id="tabgeral" href="#tab_geral" data-toggle="tab"> Geral </a>										
									</li>
									<li>
										<a id="tabimpostos" href="#tab_impostos" data-toggle="tab"> Impostos </a>
									</li>
									<li>
										<a id="tabicmsclassificacaofiscal" href="#tab_icmsclassificacaofiscal" data-toggle="tab"> ICMS </a>
									</li>
								</ul>
								<div class="tab-content no-space">

									<div class="tab-pane active" id="tab_geral">
										<div class="portlet-body">
										<form>																				
										<div class="row">
											<div class="col-md-2">
												<div class="form-group">
													<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
													<label class="control-label ">Código NCM</label>
													<input type="text" name="codigo_ncm" ng-model='classificacaofiscal.codigo_ncm' class='form-control placeholder-no-fix'></input>		
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
													<label class="control-label ">Código EX</label>
													<input type="text" name="codigo_ex" ng-model='classificacaofiscal.codigo_ex' class='form-control placeholder-no-fix'></input>
												</div>
											</div>
											<div class="col-md-8">
												<div class="form-group">
													<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
													<label class="control-label ">Descrição</label>
													<input type="text" name="descricao" ng-model='classificacaofiscal.descricao' class='form-control placeholder-no-fix'></input>
												</div>
											</div>	
										</div>																	
										</form>
										</div>
									</div>

									<div class="tab-pane" id="tab_impostos">
										<div class="portlet-body">
											<div class="panel panel-default">
												<div class="panel-heading">
													<h3 class="panel-title">PIS/COFINS</h3>
												</div>
												<div class="panel-body">													
										 			<div class="row">
										 				<div class="col-md-10">
										 					<div class="form-group">
										 						<label class="control-label">CST (PIS)</label>
																<select name="pis_cst_id" class="form-control" ng-model="classificacaofiscal.pis_cst_id"
																		ng-options="value.id as value.codigo+' - '+value.descricao for (key,value) in piscofinscsts">				
																</select>
										 					</div>	
										 				</div>
										 				<div class="col-md-2">
										 					<div class="form-group">
										 						<label class="control-label">Alíquota (PIS)</label>
										 						<div class="input-group">
																	<input type="number" name="pis_aliquota" ng-model="classificacaofiscal.pis_aliquota" class="form-control placeholder-no-fix"></input>
																	<span class="input-group-addon">%</span>
																</div>									 						
										 					</div>
										 				</div>
										 			</div>
										 			<div class="row">
										 				<div class="col-md-10">
										 					<div class="form-group">
										 						<label class="control-label">CST (COFINS)</label>
																<select name="cofins_cst_id" class="form-control" ng-model="classificacaofiscal.cofins_cst_id"
																		ng-options="value.id as value.codigo+' - '+value.descricao for (key,value) in piscofinscsts">											
																</select>
										 					</div>	
										 				</div>
										 				<div class="col-md-2">
										 					<div class="form-group">
										 						<label class="control-label">Alíquota (COFINS)</label>
										 						<div class="input-group">
																	<input type="number" name="cofins_aliquota" ng-model="classificacaofiscal.cofins_aliquota" class="form-control placeholder-no-fix"></input>
																	<span class="input-group-addon">%</span>
																</div>									 						
										 					</div>
										 				</div>
										 			</div>										 			
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading">
													<h3 class="panel-title"> Imposto Sobre a Importação de Produtos Estrangeiros (II)</h3>
												</div>
												<div class="panel-body">
													<div class="col-md-2">
											 			<div class="form-group">
											 				<label class="control-label">Alíquota (II)</label>
											 				<div class="input-group">
																<input type="number" name="ii_aliquota" ng-model="classificacaofiscal.ii_aliquota" class="form-control placeholder-no-fix"></input>
																<span class="input-group-addon">%</span>
															</div>									 						
											 			</div>
										 			</div>
												</div>
											</div>	
											<div class="panel panel-default">
												<div class="panel-heading">
													<h3 class="panel-title">Imposto Sobre Produtos Industrializados (IPI)</h3>
												</div>
												<div class="panel-body">
										 			<div class="row">
										 				<div class="col-md-10">
										 					<div class="form-group">
										 						<label class="control-label">CST (IPI)</label>
																<select name="ipi_cst_id" class="form-control" ng-change="printVal()" ng-model="classificacaofiscal.ipi_cst_id"
																		ng-options="value.id as value.codigo+' - '+value.descricao for (key,value) in ipicsts">				
																</select>
										 					</div>	
										 				</div>
										 				<div class="col-md-2">
										 					<div class="form-group">
										 						<label class="control-label">Alíquota (IPI)</label>
										 						<div class="input-group">
																	<input type="number" name="ipi_aliquota" ng-disabled="classificacaofiscal.ipi_cst_id != 8" ng-model="classificacaofiscal.ipi_aliquota" class="form-control placeholder-no-fix"></input>
																	<span class="input-group-addon">%</span>
																</div>									 						
										 					</div>
										 				</div>
										 			</div>
												</div>
											</div>												
										</div>
									</div>

									<div class="tab-pane" id="tab_icmsclassificacaofiscal">
										<div class="portlet-body">											
											<table class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th>Estado</th>
														<th>Redução BC</th>
														<th>Diferimento</th>
														<th>Alíquota</th>
														<th>Alíquota Fins Calculo</th>
														<th>ICMS ST</th>
														<th>Modalidade BC ICMS ST</th>
														<th>MVA</th>
														<th>Redução MVA</th>	
														<th>Opções</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="icmscf in icmsclassificacaofiscal">
														<td>{{estadoPorId(icmscf.estado_id).descricao}}</td>
														<td>{{icmscf.reducaobasecalculo}}</td>
														<td>{{icmscf.diferimento}}</td>
														<td>{{icmscf.aliquota}}</td>
														<td>{{icmscf.aliquotafinscalculo}}</td>

														<td>
															<span ng-if="icmscf.icmsst" class="glyphicon glyphicon-ok font-green"/>									
														</td>
														<td>{{modalidadebcicmsstPorId(icmscf.modalidadebcicmsst_id).descricao}}</td>
														<td><span ng-if="icmscf.modalidadebcicmsst_id == '5'">{{icmscf.mva}}</span></td>
														<td>
															<span ng-if="icmscf.modalidadebcicmsst_id == '5' && icmscf.reducaomva" 
																  class="glyphicon glyphicon-ok font-green"/>														
														</td>
														<td><a id="editarIcms" ng-click="setIcmsCF(icmscf.estado_id)" class="btn yellow btn-xs" data-toggle="modal" href="#popupIcms">Editar</a></td>
													</tr>
												</tbody>
											</table>																							
										</div>
									</div>
										
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<div class="modal fade" id="popupIcms" tabindex="-1" role="basic" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">				
				<h4 class="modal-title">ICMS</h4>
			</div>
			<div class="modal-body">
				<div ng-if="mensagensIcms.length > 0" id="error_explanation" class="Metronic-alerts alert alert-danger">
					<ul ng-repeat="msg in mensagensIcms">												
				 		<li>{{msg}}</li>													
					</ul>
				</div>
				<form>				
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Redução BC</label>
							<div class="input-group">
								<input type="number" name="reducaobasecalculo" ng-model="icmsclassificacaofiscal[indexIcmsCF].reducaobasecalculo" class="form-control placeholder-no-fix"></input>
								<span class="input-group-addon">%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Diferimento</label>
							<div class="input-group">
								<input type="number" name="diferimento" ng-model="icmsclassificacaofiscal[indexIcmsCF].diferimento" class="form-control placeholder-no-fix"></input>
								<span class="input-group-addon">%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Alíquota</label>
							<div class="input-group">
								<input type="number" name="aliquota" ng-model="icmsclassificacaofiscal[indexIcmsCF].aliquota" class="form-control placeholder-no-fix"></input>
								<span class="input-group-addon">%</span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Alíquota para fins de Calculo</label>
							<div class="input-group">
								<input type="number" name="aliquotafc" ng-model="icmsclassificacaofiscal[indexIcmsCF].aliquotafinscalculo" class="form-control placeholder-no-fix"></input>
								<span class="input-group-addon">%</span>
							</div>
						</div>
					</div>					
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">ICMS ST</label>														
							<div>
								<label>
									<input id="icmsst" type="checkbox" ng-click="clickIcmsst($event)">
								</label>
							</div>													
						</div>
					</div>
					<div class="col-md-9" ng-show="icmsclassificacaofiscal[indexIcmsCF].icmsst">
						<label class="control-label">Modalidade BC ICMS ST</label>
						<select name="modalidadebcicmsst_id" class="form-control" ng-model="icmsclassificacaofiscal[indexIcmsCF].modalidadebcicmsst_id"
								ng-options="value.id as value.codigo+' - '+value.descricao for (key, value) in modalidadebcicmssts">												
						</select>
					</div>
				</div>
				<div class="row">	
					<div class="col-md-3">
						<div ng-show="icmsclassificacaofiscal[indexIcmsCF].icmsst && icmsclassificacaofiscal[indexIcmsCF].modalidadebcicmsst_id == '5'" class="form-group">
							<label class="control-label">MVA</label>
							<div class="input-group">
								<input type="number" name="mva" ng-model="icmsclassificacaofiscal[indexIcmsCF].mva" class="form-control placeholder-no-fix"></input>
								<span class="input-group-addon">%</span>
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div ng-show="icmsclassificacaofiscal[indexIcmsCF].icmsst && icmsclassificacaofiscal[indexIcmsCF].modalidadebcicmsst_id == '5'" class="form-group">
							<label class="control-label">Permite Redução MVA</label>							
							<div>
								<label>
									<input id="reducaomva" ng-click="clickReducaomva($event)" type="checkbox" > 
								</label>								
							</div>
						</div>
					</div>
				</div>	
				</form>			
			</div>
			<div class="modal-footer">
				<button ng-click="cleanIcms()" type="button" class="btn default" data-dismiss="modal">Voltar</button>				
				<button ng-click="saveIcms()" type="button" class="btn blue">Salvar</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

</div> 
<script>
myApp.controller('ClassificacaofiscalCtrl', ['$scope', function($scope){
	Metronic.init(); // init metronic core components
	Layout.init();		
	$scope.mensagens = [];
	$scope.mensagensIcms = [];
	$scope.classificacaofiscal = <%= @classificacaofiscal.to_json.html_safe=%>;	
	$scope.piscofinscsts = <%= @piscofinscst.to_json.html_safe=%>;
	$scope.ipicsts = <%= @ipicst.to_json.html_safe=%>;
	$scope.estados = <%= @estado.to_json.html_safe=%>;
	$scope.modalidadebcicmssts = <%= @modalidadebcicmsst.to_json.html_safe=%>;
	$scope.icmsclassificacaofiscal = <%= @icmsclassificacaofiscal.to_json.html_safe=%>;	
	$scope.icmsCFAtual = {};

	$('[name="codigo_ncm"]').mask("?9999.99.99");
	$('[name="codigo_ex"]').mask("?99");


	$scope.printVal = function()
	{	
		if($scope.classificacaofiscal.ipi_cst_id != 8)
		{
			$scope.classificacaofiscal.ipi_aliquota = 0;
		}
		console.log($scope.classificacaofiscal.ipi_cst_id);
		console.log($scope.classificacaofiscal.ipi_aliquota);
	}

	$scope.indexIcmsCFPorEstado = function(id){			
		for(var index=0;index < $scope.icmsclassificacaofiscal.length;index++){
			if($scope.icmsclassificacaofiscal[index].estado_id == id){
				return index;
			}
		}						
		return -1;
	}

	$scope.estadoPorId = function(id){
		for(var index=0;index < $scope.estados.length;index++){
			if($scope.estados[index].id == id){
				return $scope.estados[index];
			}
		}
		return "";
	}

	$scope.modalidadebcicmsstPorId = function(id){
		for(var index=0;index < $scope.modalidadebcicmssts.length;index++){
			if($scope.modalidadebcicmssts[index].id == id){
				return $scope.modalidadebcicmssts[index];
			}
		}
		return "";
	}
		
	$scope.clickIcmsst = function(event){
		$scope.icmsclassificacaofiscal[$scope.indexIcmsCF].icmsst = event.target.checked;
		if(event.target.checked == false){
			$scope.icmsclassificacaofiscal[$scope.indexIcmsCF].modalidadebcicmsst_id = '';
			$scope.icmsclassificacaofiscal[$scope.indexIcmsCF].mva = '';
			$('span', $('#uniform-reducaomva')).removeClass("checked");
			$('#reducaomva').removeAttr("checked");
		}		
	}

	$scope.clickReducaomva = function(event){
		$scope.icmsclassificacaofiscal[$scope.indexIcmsCF].reducaomva = event.target.checked;
	}

	$scope.setIcmsCF = function(id){			
		$scope.indexIcmsCF = $scope.indexIcmsCFPorEstado(id);
		angular.copy($scope.icmsclassificacaofiscal[$scope.indexIcmsCF],$scope.icmsCFAtual);					
		if($scope.icmsclassificacaofiscal[$scope.indexIcmsCF].icmsst == false){
			$('span', $('#uniform-icmsst')).removeClass("checked");
			$('#icmsst').removeAttr("checked");
		}else{
			$('span', $('#uniform-icmsst')).addClass("checked");
			$('#icmsst').attr("checked");
		}
		if($scope.icmsclassificacaofiscal[$scope.indexIcmsCF].reducaomva == false){
			$('span', $('#uniform-reducaomva')).removeClass("checked");
			$('#reducaomva').removeAttr("checked");
		}else{
			$('span', $('#uniform-reducaomva')).addClass("checked");
			$('#reducaomva').attr("checked");
		}													
	}

	$scope.limparMensagensIcms = function(){
		$scope.mensagensIcms = [];
	}

	$scope.cleanIcms = function(){		
		angular.copy($scope.icmsCFAtual,$scope.icmsclassificacaofiscal[$scope.indexIcmsCF]);		
	}

	$scope.saveIcms = function(){

		$.ajax({
			async: false, 
			method: 'post',
			url: '/classificacaofiscal/saveIcms/',
			data: {icmsclassificacaofiscal: $scope.icmsclassificacaofiscal[$scope.indexIcmsCF]},
			success: function(data){
				$('#popupIcms').modal('toggle');
				$scope.limparMensagensIcms();
			},
			error: function(jqXHR, textStatus, errorThrown){
				$scope.mensagensIcms = JSON.parse(jqXHR.responseText);
			}
		});		
	}	
	
	$scope.save = function(){
		
		$.ajax({
			async: false,
      		method: 'post',
      		url: '/classificacaofiscal/save/',
      		data: { classificacaofiscal: $scope.classificacaofiscal, icmsclassificacaofiscals: JSON.stringify($scope.icmsclassificacaofiscal)},
      		success: function (data){      			      			
      			window.location.replace('<%=classificacaofiscals_path=%>');
      		},
      		error: function (jqXHR, textStatus, errorThrown){      			     			
      			$scope.mensagens = JSON.parse(jqXHR.responseText);

      		}
   	 	});
	}
}]);
</script>