<head>
	<%if controller.controller_name != 'sessions'  %>
		<meta charset="utf-8"/>
		<%if controller_name == 'index'%>
			<title>MASTERCOM | INDEX</title>
		<%elsif controller_name == 'grupo'%>
			<title>MASTERCOM | GRUPOS</title>
		<%elsif controller_name == 'subgrupo'%>
			<title>MASTERCOM | SUBGRUPOS</title>
		<%elsif controller_name == 'empresa'%>
			<title>MASTERCOM | EMPRESAS</title>
		<%elsif controller_name == 'user'%>
			<title>MASTERCOM | USUARIOS</title>
		<%elsif controller_name == 'nivelacesso'%>
			<title>MASTERCOM | ACESSOS </title>
		<%else%>
			<title>MASTERCOM</title>
		<%end%>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta content="" name="description"/>
		<meta content="" name="author"/>
		<!-- BEGIN GLOBAL MANDATORY STYLES -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">
		<link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
		<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css">
		<!-- END GLOBAL MANDATORY STYLES -->
		<!-- BEGIN PAGE LEVEL STYLES -->
		<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css"/>
		<link href="../../assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
		<link href="../../assets/admin/pages/css/profile.css" rel="stylesheet" type="text/css"/>
		<link href="../../assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/select2/select2.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/datatables/extensions/ColVis/css/dataTables.colVis.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/datatables/extensions/ColVis/css/dataTables.colVis.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css"/>
		<!-- END PAGE LEVEL STYLES -->
		<!-- BEGIN THEME STYLES -->
		<link href="../../assets/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css">
		<link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css">
		<link href="../../assets/admin/layout3/css/layout.css" rel="stylesheet" type="text/css">
		<link href="../../assets/admin/layout3/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color">
		<link href="../../assets/admin/layout3/css/custom.css" rel="stylesheet" type="text/css">
		<!-- END THEME STYLES -->
  	<%end%>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body>
<div class="page-header">

	<!-- BEGIN HEADER TOP -->
	<div class="page-header-top">
		<div class="container">
			<!-- BEGIN LOGO -->
			<div class="page-logo">
				<a href="/"><img src="../../assets/admin/layout3/img/logo-default.png" alt="logo" class="logo-default"></a>
			</div>
			<!-- END LOGO -->
			<!-- BEGIN RESPONSIVE MENU TOGGLER -->
			<a href="javascript:;" class="menu-toggler"></a>
			<!-- END RESPONSIVE MENU TOGGLER -->
			<!-- BEGIN TOP NAVIGATION MENU -->
			<div class="top-menu">
				<ul class="nav navbar-nav pull-right">
					<!-- BEGIN NOTIFICATION DROPDOWN -->
					<!-- END NOTIFICATION DROPDOWN -->
					<!-- END TODO DROPDOWN -->
					<!-- BEGIN INBOX DROPDOWN -->
					<li class="dropdown dropdown-extended dropdown-dark dropdown-inbox" id="header_inbox_bar">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						</a>
					</li>
					<!-- END INBOX DROPDOWN -->
					<li class="dropdown dropdown-user dropdown-dark">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
							<%if current_user.photo.present?%>
								<%= image_tag photo_path(current_user), :class => "img-circle" %>
							<%else%>
								<img src="/photos/original/missing.png" class="img-circle">
							<%end%>
							<span class="username username-hide-mobile"><%= current_user.fullname%></span>
						</a>
						<ul class="dropdown-menu dropdown-menu-default">
							<li>
								<a data="<%=current_user.id%>" data-method="get" href="/user/<%=current_user.id%>/edit?method_name=get" ><i class="icon-user"></i> Meu perfil </a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a rel="nofollow" data-method="delete" href="/users/sign_out"> <i class="fa fa-sign-out"></i> Encerrar Sessão </a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- END TOP NAVIGATION MENU -->
		</div>
	</div>
	<!-- END HEADER TOP -->	
	<!-- BEGIN HEADER MENU -->
	<div class="page-header-menu">
		<div class="container">
			<!-- BEGIN MEGA MENU -->
			<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
			<!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
			<div class="hor-menu ">
				<ul class="nav navbar-nav">
					<li>
						<a data-no-turbolink="true" href="/"> Página Inicial</a>
					</li>
					<%if current_user.user_type != 2%>
						<li class="menu-dropdown mega-menu-dropdown mega-menu-full">
							<a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
							Cadastros <i class="fa fa-angle-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li>
									<div class="mega-menu-content">
										<div class="row">
											<div class="col-md-2">
												<ul class="mega-menu-submenu">
													<li>
														<h3>Cadastros</h3>
													</li>
													<li >
														<a data-no-turbolink="true" href="/grupos"><i class="fa fa-angle-right"></i>  Grupos</a>
													</li>
													<li>
														<a data-no-turbolink="true" href="/subgrupos"><i class="fa fa-angle-right"></i>  Sub-Grupos</a>
													</li>
												</ul>
											</div>
											<div class="col-md-2">
												<ul class="mega-menu-submenu">
													<li>
														<h3>Configurações</h3>
													</li>
													<li >
														<a data-no-turbolink="true" href="/empresas"><i class="fa fa-angle-right"></i>  Empresas</a>
													</li>
													<%if current_user.user_type != 2%>
														<li>
															<a data-no-turbolink="true" href="/nivelacesso"><i class="fa fa-angle-right"></i>  Nivel acesso</a>
														</li>
													<%end%>
													<li>
														<a data-no-turbolink="true" href="/users"><i class="fa fa-angle-right"></i>  Usuários</a>
													</li>
													
												</ul>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</li>
					<%elsif current_user.user_type == 2 && current_user.nivelacesso.present?%>
						<%if arrayAcessos.all? {|bool| bool == false}%>
						<%else%>
							<li class="menu-dropdown mega-menu-dropdown mega-menu-full">
								<a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
								Cadastros <i class="fa fa-angle-down"></i>
								</a>
								<ul class="dropdown-menu">
									<li>
										<div class="mega-menu-content">
											<div class="row">
												<% if arrayAcessos[0] == true ||arrayAcessos[1] == true || arrayAcessos[2] == true || arrayAcessos[3] == true || arrayAcessos[4] == true || arrayAcessos[5] == true%>
													<div class="col-md-2">
														<ul class="mega-menu-submenu">
															<li>
																<h3>Cadastros</h3>
															</li>
															<%if arrayAcessos[0] == true || arrayAcessos[1] == true || arrayAcessos[2] == true%>
																<li >
																	<a data-no-turbolink="true" href="/grupos"><i class="fa fa-angle-right"></i>  Grupos</a>
																</li>
															<%end%>
															
															<%if arrayAcessos[3] == true || arrayAcessos[4] == true  || arrayAcessos[5] == true%>
																<li>
																	<a data-no-turbolink="true" href="/subgrupos"><i class="fa fa-angle-right"></i>  Sub-Grupos</a>
																</li>
															<%end%>
														</ul>
													</div>
												<%end%>
												<% if arrayAcessos[6] == true ||arrayAcessos[7] == true || arrayAcessos[8] == true || arrayAcessos[9] == true || arrayAcessos[10] == true %>
													<div class="col-md-2">
														<ul class="mega-menu-submenu">
															<li>
																<h3>Configurações</h3>
															</li>
															<%if arrayAcessos[6] ==  true || arrayAcessos[7] == true%>
																<li >
																	<a data-no-turbolink="true" href="/empresas"><i class="fa fa-angle-right"></i>  Empresas</a>
																</li>
															<%end%>
															<%if current_user.user_type != 2%>
																<li>
																	<a data-no-turbolink="true" href="/nivelacesso"><i class="fa fa-angle-right"></i>  Nivel acesso</a>
																</li>
															<%end%>
															<%if arrayAcessos[8] ==  true || arrayAcessos[9]  == true || arrayAcessos[10] == true%>
																<li>
																	<a data-no-turbolink="true" href="/users"><i class="fa fa-angle-right"></i>  Usuários</a>
																</li>
															<%end%>
														</ul>
													</div>
												<%end%>
											</div>
										</div>
									</li>
								</ul>
							</li>
						<%end%>
					<%end%>
				</ul>
			</div>
			<div class="hor-menu pull-right">
				<ul class="nav navbar-nav navbar-right">
					<li class="mega-menu-dropdown pull-right">
						<%if current_user.settings(:last_empresa).edited.present?%>
							<% if lastEmpTable.count > 1%>
								<a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
								<i class="icon-briefcase"></i> <%=current_user.settings(:last_empresa).edited.nome_fantasia%> </a>
							<%else%>
								<a data-hover="megamenu" data-close-others="true" href="javascript:;" class="dropdown-toggle">
								<i class="icon-briefcase"></i> <%=current_user.settings(:last_empresa).edited.nome_fantasia%> </a>
							<%end%>
							
						<%else%>
							
						<%end%>
						<ul class="dropdown-menu pull-right">
							<div class="mega-menu-content">
								<li>
									<% lastEmpTable.each do |item| %>
										<li>
											<a data-no-turbolink="true"  value="<%=item.id%>" name="emp_link"><i class="icon-briefcase"></i><%= item.nome_fantasia %> </a>
										</li>
									<%end%>
								</li>
							</div>
						</ul>
					</li>
				</ul>
			</div>
			<!-- END MEGA MENU -->
		</div>
	</div>
	<!-- END HEADER MENU -->
</div>