<html lang="en">
<%= render :partial => "layouts/shared/header"%>

<body ng-controller="EntidadeCtrl">
<!-- BEGIN PAGE CONTAINER -->
<div class="page-container" ng-view>
	<!-- BEGIN PAGE HEAD -->
	<div class="page-head" >
		<!-- END PAGE TITLE -->
		<!-- BEGIN PAGE CONTENT -->
		<div class="page-content">
			<div class="container">
				<!-- BEGIN PAGE BREADCRUMB -->
				<ul class="page-breadcrumb breadcrumb">
					<li>
						 <%= link_to "Pagina Inicial", root_path, 'data-no-turbolink' => true %>
					</li>
					<i class="fa fa-circle"></i>
					<li>
						<%= link_to "Empresas/Contatos", entidades_path, 'data-no-turbolink' => true%>
					</li>
					<i class="fa fa-circle"></i>
					<li class="active">
						Editar
					</li>
				</ul>
				<div class="col-md-12">
					<div class="profile-sidebar" style="width: 250px;">
						<!-- PORTLET MAIN -->
						<div class="portlet light ">
							<div class="profile-usertitle-name">
								 Empresas
							</div>
							<div class="profile-desc-text">
								<div class="form-group">
									<div class="checkbox-list">
										<div ng-repeat="x in empresas_total" >
											<div ng-if= 'x.id != empresa_atual'>	
												<input type="checkbox" ng-checked="data.empresas.indexOf(x.id) > -1" ng-model='data.empresas[$index]' ng-true-value='{{ x.id }}' class="checkboxes" > {{ x.nome_fantasia }} </input>
											</div>
											<div ng-if= 'x.id == empresa_atual'>	
												<input type="checkbox" disabled ng-checked="x.id == empresa_atual" ng-model='data.empresas[$index]' ng-true-value='{{x.id}}' class="checkboxes"> {{ x.nome_fantasia }} </input>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- END PORTLET MAIN -->
						<div class="portlet light">
							<div class="profile-usertitle-name">
								 Tipos
							</div>
							<div class="profile-desc-text">
								<div class="form-group">
									<div class="checkbox-list">
										<div ng-repeat="t in tipos_total" >
											<input type="checkbox" ng-checked='data.tipoentidades.indexOf(t.id) > -1' ng-model='data.tipoentidades[$index]' ng-true-value='{{t.id}}' class="checkboxes" > {{ t.descricao }}</input>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>

					<div class="profile-content">
						<div class="row">
							<div class="col-md-12">
								<div class="portlet light">
								 	<div class="portlet-title tabbable-line">
										<div class="caption caption-md">
											<i class="icon-globe theme-font hide"></i>
												<span class="caption-subject font-blue-madison bold uppercase">Editar Empresa/Contato</span>
											<i class="fa fa-pencil"></i>
										</div>
										 <ul class="nav nav-tabs">
										 	<li class="active">
												<a href="#tab_1_1" data-toggle="tab">Informações Gerais</a>
											</li>
											<li>
												<a href="#tab_1_2" data-toggle="tab">Endereços</a>
											</li>
										</ul>
									</div>
									<div class="portlet-body">
										<%= form_for((@entidade), url: entidade_path(@entidade), html: { method: :put }) do |f|%>
											<% if @entidade.errors.any? %>
												<div id="error_explanation" class="Metronic-alerts alert alert-danger">
													<ul >
														<% @entidade.errors.full_messages.each do |message| %>
														 <li><%= message %></li>
													 <% end %>
													</ul>
												</div>
											<% end %>
										<% end %>

										<div class="tab-content">
											<div class="tab-pane active" id="tab_1_1">												
												<div class="form-group">
													<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
													<label class="control-label ">Razao Social</label>
													<input type="text" name="razao_social" ng-model='data.razao_social' class='form-control placeholder-no-fix'>
												</div>

												<div class="form-group">
													<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
													<label class="control-label ">Nome Fantasia</label>
													<input type="text" name="nome_fantasia" ng-model='data.nome_fantasia' class='form-control placeholder-no-fix'>
												</div>

												<div class="form-group">
													<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
													<label class="control-label ">CNPJ</label>
													<input type="text" name="cnpj" ng-model='data.cnpj' class='form-control placeholder-no-fix'>
												</div>

												<div class="form-group">
													<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
													<label class="control-label ">Inscrição Estadual</label>
													<input type="text" name="insc_estadual" ng-model='data.insc_estadual' class='form-control placeholder-no-fix'>
												</div>

												<div class="form-group">
													<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
													<label class="control-label ">Inscrição Municipal</label>
													<input type="text" name="insc_municipal" ng-model='data.insc_municipal' class='form-control placeholder-no-fix'>
												</div>
											</div>
											<div class="tab-pane" id="tab_1_2">
												<div ng-repeat="e in data.endereco" >
													<div ng-if= '$index > 0'>	
														<div class="portlet">
															<div class="portlet-title">
																<div class="tools">
																	<a href="javascript:;" class="collapse"> </a>
																</div>
															</div>	
															<div class="portlet-body">
																<div class="row">
																	<div class="col-md-12 ">
																		<div class="form-group">
																			<label>Rua</label>
																			<input type="text" name="e" ng-model='e.rua' class='form-control placeholder-no-fix'>
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-6">
																		<div class="form-group">
																			<label>Numero</label>
																			<input type="text" name="e" ng-model='e.num_rua' class='form-control placeholder-no-fix'>
																		</div>
																	</div>
																	<!--/span-->
																	<div class="col-md-6">
																		<div class="form-group">
																			<label>Complemento</label>
																			<input type="text" name="e" ng-model='e.complemento' class='form-control placeholder-no-fix'>
																		</div>
																	</div>
																	<!--/span-->
																</div>
																<!--/row-->
																<div class="row">
																	<div class="col-md-6">
																		<div class="form-group">
																			<label>Bairro</label>
																			<input type="text" name="e" ng-model='e.bairro' class='form-control placeholder-no-fix'>
																		</div>
																	</div>
																	<!--/span-->
																	
																	<div class="col-md-6">
																		<div class="form-group">
																			<label>CEP</label>
																			<input type="text" name="e" ng-model='e.cep' class='form-control placeholder-no-fix'>
																		</div>
																	</div>
																	<div class="col-md-6">
																		<div class="form-group">
																			<label>Cidade</label>
																			<input type="text" name="e" ng-model='e.cidade' class='form-control placeholder-no-fix'>
																		</div>
																	</div>
																	<!--/span-->
																	<div class="col-md-6">
																		<div class="form-group">
																			<label>UF</label>
																		</div>
																	</div>												
																</div>
															</div>
														</div>
													</div>
												</div>
												<button ng-click="add_blank_end()" class="btn green-meadow">+</button><br><br>
											</div><br><br>

											<button ng-click="save()" class="btn yellow">Atualizar</button><br><br>
											<%= link_to "Voltar", entidades_path, :class => "btn default ", 'data-no-turbolink' => true %>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE CONTENT -->
	</div>
</div>  
</body>

<!-- END PAGE CONTAINER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="../../assets/global/plugins/respond.min.js"></script>
<script src="../../assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery.maskedinput.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script type="text/javascript" src="../../assets/global/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="../../assets/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../assets/global/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="../../assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" src="../../assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
<script type="text/javascript" src="../../assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="../../assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script src="../../assets/global/scripts/metronic.js" type="text/javascript"></script>
<script src="../../assets/admin/layout3/scripts/layout.js" type="text/javascript"></script>
<script src="../../assets/admin/layout3/scripts/demo.js" type="text/javascript"></script>
<script src="../../assets/admin/pages/scripts/table-managed.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

<script>
myApp.controller('EntidadeCtrl', ['$scope', function($scope)
{
	$scope.data = <%= send_json.to_s.html_safe %>;
	$scope.tipos_total = <%=returnItensUsuario.to_json.to_s.html_safe%>
	$scope.empresas_total = <%=lastEmpTable.to_json.to_s.html_safe%>
	$scope.empresa_atual = <%=(current_user.settings(:last_empresa).edited).id%>
	console.log($scope.data);

   	$scope.save = function() {
    	var request;
    	request = $.ajax({
      		method: 'post',
      		url: '/entidades/save_angular/' + '<%= editingUser.id%>',
      		data: { data: $scope.data }
   	 	});
   	 	window.alert("Salvando");
   	 	console.log($scope.data);
	}

	$scope.add_blank_end = function()
	{
		var blank_end = $scope.data.endereco.slice();
		$scope.data.endereco.push(blank_end);
	}

	/*
	$scope.getValueTipo = function(event, index) 
	{
    	$scope.data.tipoentidades[index] = event.target.value;
	}
	$scope.getValueEmp = function(event, index) 
	{
	    $scope.data.empresas[index] = event.target.value;
	}*/

}]);

jQuery(document).ready(function() {       
	 // initiate layout and plugins
	Metronic.init(); // init metronic core components
	Layout.init(); // init current layout
	TableManaged.init();

	
	$("#campocnpj").mask("99.999.999/9999-99");
	$(".edit_entidade").submit(function() {
	 	$("#campocnpj").val($("#campocnpj").mask()); 
	});

	$('[name="emp_link"]').click(function () 
	{
		var id = $(this).attr('value');
		$.ajax
		({
			type: 'post',
			url: '/users/set_current_emp',
			data: {emp_id : id},
			success: function(msg) {
            window.location.reload(true);
        }
		});
	});

/*	
	$(" .checkboxes-t").change(function(){

	    var checked = $(".checkboxes-t input:checked").length == 1;
	    if (!checked){
	        alert("Please check at least one checkbox");
	        return false;
	    }
	});
*/

	/*$('#tabela').DataTable({
		"sPaginationType": "full_numbers",
			"processing": true,
			"serverSide": true,
		"ajax": $('#tabela').data('source'),
		 "columns": 
			[{ "bSortable": false, "bSearchable": false, "data": null, "render": function ( data, type, row ) {
								return '<a href="/user/'+data.id+'/edit" class="btn yellow btn-xs pull-center"><i class="fa fa-pencil"></i> Editar</a> <a data-confirm="Tem certeza que deseja excluir o usuário?" rel="nofollow" data-method="delete" href="/user/'+data.id+'" class="btn red btn-xs pull-right"> <i class="fa fa-times"></i> Deletar</a> '}}]
	});*/
 //init tabela
});

</script>
</body>
<!-- END BODY -->
</html>