<!-- BEGIN PAGE CONTAINER -->
<div class="page-container" ng-view ng-controller="MovimentomsCtrl" id="EditingObjId" data="<%=editingUser.id%>" empresa_atual='<%= (current_user.settings(:last_empresa).edited).to_json.html_safe %>' modalidade='<%= @modalidadebcicmsst.to_json.html_safe=%>' ipi='<%= @ipicst.to_json.html_safe %>' icms='<%= @icmscst.to_json.html_safe %>' cliente='<%=@cliente.to_json.html_safe%>' ng-cloak="">
	<!-- BEGIN PAGE HEAD -->
	<div class="page-head">
			<!-- END PAGE TITLE -->
			<!-- BEGIN PAGE CONTENT -->
		<div class="page-content">
			<div class="container">
				<!-- BEGIN PAGE BREADCRUMB -->
				<ul class="page-breadcrumb breadcrumb">
					<li>
						<%= link_to "Pagina Inicial", root_path, 'data-no-turbolink' => true %>
					</li>
					<i class="fa fa-circle"></i>
					<li>
						<%= link_to "Movimentos", movimentoms_path, 'data-no-turbolink' => true %>
					</li>
					<i class="fa fa-circle"></i>
					<li class="active">
						<%= t"#{action_name}" %>
					</li>
				</ul>
				<div class="row">
					<div class="col-md-12">
						<div class="portlet light">
							<div class="portlet-title tabbable-line">
								<div class="caption caption-md">
									<i class="icon-globe theme-font hide"></i>
										<span class="caption-subject font-blue-madison bold uppercase">	<%= t"#{action_name}" %> Movimento</span>
									<i class="fa fa-plus"></i>
								</div>
								<div class="actions btn-set">
									<%= link_to "Voltar", movimentoms_path, :class => "btn default btn-circle ", 'data-no-turbolink' => true %>
									<button ng-click="save()" class="btn btn-default btn-circle"><i class="fa fa-check"></i> Salvar</button><br>
								</div>
							</div>
							<div id="error_explanation" class="Metronic-alerts alert alert-danger" ng-if="mensagens.length > 0">
								<ul ng-repeat="m in mensagens">
									 <li>{{m}}</li>
								</ul>
							</div>
							<form name="form_1" class="css-form" novalidate>
								<div class="portlet-body">
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label ">Data de Emissão</label>

												<input type="text" name="data" ng-model='data.data' id="datepicker" data-date-format="dd/mm/yyyy" class="form-control form-control-inline input-medium date-picker" size="16">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label ">Cliente</label>
												<ui-select ng-model="data.entidade_id" on-select="setEntidadeSelected($item); setCheckboxes('consumidorfinal', data.consumidor_final)" name="entidade" theme="bootstrap" >
										            <ui-select-match allow-clear="false" placeholder="">{{$select.selected.nome_fantasia}}</ui-select-match>
										            <ui-select-choices repeat="e.id as e in entidade_opts | filter: $select.search">
										              <span ng-bind-html="e.nome_fantasia "></span>
										            </ui-select-choices>
										        </ui-select><br>
										       	
										       	<input type="checkbox" ng-disabled='isDisabled'  id='consumidorfinal' ng-click="setCheckboxes('consumidorfinal', data.consumidor_final)" ng-model="data.consumidor_final"> Consumidor Final </input><br>
											</div>
										</div>
									
									</div>
									<div class ="row">
										<div class="col-md-12">
											<div class="portlet">
												<div class="portlet-title">
													<div class="caption">
														Itens
													</div>
													<div class="actions"> 
														<a class="btn btn-default btn-sm"  ncheck href="#portlet-config" ng-click="setFocusInput()" data-toggle="modal">
														<i class="fa fa-plus"></i> Adicionar </a>
													</div>
												</div>
												<div class="portlet-body">
													<div class="table-container">
														<table class="table table-striped table-bordered table-hover" id="produtos">
															<thead>
																<tr role="row">
																	<th width="2%" align="center" class="no-sort">
																	</th>
																	<th  width="37%">
																		Produto
																	</th>
																	<th class="hidden" style="text-align:center" width="7%">
																		Frete
																	</th >
																	<th class="hidden" style="text-align:center" width="7%">
																		Desconto
																	</th >
																	<th class="hidden" style="text-align:center" width="7%">
																		Seguro
																	</th >
																	<th class="hidden" style="text-align:center" width="7%">
																		Outros
																	</th>
																	<th style="text-align:center" width="7%">
																		Qtde
																	</th >
																	<th style="text-align:center" width="7%">
																		Valor Un.
																	</th >
																	<th style="text-align:center" width="7%">
																		IPI
																	</th >
																	<th style="text-align:center" width="7%">
																		ICMS
																	</th >
																	<th style="text-align:center" width="7%">
																		Total
																	</th >
																	<th style="text-align:center" width="8%">
																		Ações
																	</th>
																</tr>
															</thead>
															<tbody >
																<tr ng-repeat="p in produtos_choosen track by p.codigo">
																	<td class="details-control" align="center">												
																		<a href="javascript:;" class="btn grey-steel btn-sm"><i class="fa fa-plus"></i></a>
																	</td>
																	<td>{{p.codigo}} - {{p.descricao}}</td>
																	<td class="hidden" align="right">{{ p.frete | currency : "" }}</td>
																	<td class="hidden" align="right">{{ p.desconto | currency : ""}}</td>
																	<td class="hidden" align="right">{{ p.seguro | currency : ""}}</td>
																	<td class="hidden" align="right">{{ p.outros | currency : ""}}</td>
																	<td align="right">{{p.qtde}}</td>
																	<td align="right">{{ p.preco | currency : ""}}</td>
																	<td align="right">{{ p.valoripi | currency : ""}}</td>
																	<td align="right">{{ p.valoricms | currency : ""}}</td>
																	<td align="right">{{(((p.preco * 1) * p.qtde ) + (p.frete * 1) + (p.seguro * 1) + (p.outros * 1) + (p.valoripi * 1) - (p.desconto * 1))  | currency : ""}}</td>
																	<td align="center"> 
																		<a ncheck href="#portlet-config" ng-click="edit_produto($index); getIcms(p.id, false); getIcms(p.id, true); verifyInter(); preSetCheckbox();" data-toggle="modal" class="btn yellow btn-sm"> <i class="fa fa-pencil"></i> </a>
																		<a ng-click="delete_produto($index)" class="btn red btn-sm"><i class="fa fa-trash-o"></i></a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-4 pull-right">
											<div class="row">
												<div class="col-md-12">
											<div class="actions">  
												<a class="btn btn-default btn-xs pull-right" ncheck ng-click="preCalcRatio()" href="#portlet-config_edit_values"  data-toggle="modal">
												<i class="fa fa-pencil"></i> Editar</a><br>
											</div></div></div>

											<div class="well " style="font-family:Lucida console;">
												<div class="row static-info">
													<div class="col-md-8 name" >
														 Quantidade de Itens:
													</div>
													<div class="col-md-4 "   align="right">
														{{data.totalquantidade}}
													</div>
												</div>
												<div class="row static-info"  ng-show="totalfrete > 0">
													<div class="col-md-6 name" >
														 Total frete:
													</div>
													<div class="col-md-6 "  style="color: blue;" align="right">
														{{totalfrete | currency : "R$" }} (+)
													</div>
												</div>
												<div class="row static-info" ng-show="totaldesconto > 0">
													<div class="col-md-6 name" >
														 Total desconto:
													</div>
													<div class="col-md-6 "  style="color: red;" align="right">
														{{totaldesconto | currency : "R$" }} (-)
													</div>
												</div>
												<div class="row static-info" ng-show="totalseguro > 0">
													<div class="col-md-6 name"  >
														 Total seguro:
													</div>
													<div class="col-md-6 "  style="color: blue;" align="right">
														 {{totalseguro | currency : "R$" }} (+)
													</div>
												</div>
												<div class="row static-info" ng-show="totaloutros > 0">
													<div class="col-md-6 name" >
														 Total outros:
													</div>
													<div class="col-md-6 "  style="color: blue;" align="right">
														 {{totaloutros | currency : "R$" }} (+)
													</div>
												</div>
												<div class="row static-info" ng-show="totalipi > 0">
													<div class="col-md-6 name" >
														 Total IPI:
													</div>
													<div class="col-md-6 " style="color: blue;" align="right">
														 {{totalipi | currency : "R$" }} (+)
													</div>
												</div>
												<div class="row static-info" ng-show="totalicms > 0">
													<div class="col-md-6 name" >
														 Total ICMS:
													</div>
													<div class="col-md-6"   style="color: blue;" align="right">
														 {{totalicms | currency : "R$" }}
													</div>
												</div>
												<div class="row static-info " >
													<div class="col-md-6 name">
														 Total Líquido:
													</div>
													<div class="col-md-6 value" align="right">
														{{totalpreco| currency : "R$" }}
													</div>
												</div>
												<div class="row static-info" >
													<div class="col-md-6 name" >
														 Total:
													</div>
													<div class="col-md-6 value" align="right">
														 {{data.totalvalor | currency : "R$" }}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="portlet-config" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" id="end_form">
					<div class="modal-header">
						<div ng-show="isEditing == false">
							<h4 class="modal-title">Adicionar Produto</h4>
						</div>
						<div ng-show="isEditing == true">
							<h4 class="modal-title">Editar Produto</h4>
						</div>
					</div>
					<div class="modal-body" >
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-6">
									<div class="form-group">
										<div class="typeahead-container">
											<div class="typeahead-field" id='tipo'>
												<label class="control-label ">Produto </label>
												<div class="btn-group">
													<div class="dropup">
														<a href="javascript:;" ncheck class="dropdown-toggle" data-toggle="dropdown" data-close-others="true" data-toggle="tooltip" title="Clique para alterar descrição do produto"> <i class="fa fa-pencil"></i> </a>
														<ul class="dropdown-menu" aria-labelledby="Descrição" role="menu">
															<li>
													        	<input type="text" class='form-control placeholder-no-fix' ng-model="produto_selected.descricao"> 
															</li>
														</ul>
													</div>
												</div>
												<ui-select reset-search-input="true" ng-disable="isEditing==true" id="produto" focus-on='setFocus' ng-model="produto_selected" on-select="setProdutoSelected($item); NextField(); getIcms(produto_selected.id, false); getIcms(produto_selected.id, true); verifyInter(); setNew();" theme="bootstrap">
										            <ui-select-match allow-clear="true">{{$select.selected.descricao}}</ui-select-match>
										            <ui-select-choices repeat="p in produto_opts | filter: $select.search" refresh="refreshProdutos($select.search)" refresh-delay="0">
										              	<div ng-bind-html="p.descricao | highlight: $select.search"></div>
										              	 <small>
										              	 	<!--<img src='/produtos/showImg/{{p.id}}' width="30px;" height="30px;" > -->
													        Cod: {{p.codigo}}
													        Valor Un.: {{p.preco | customCurrency}}
													        Un: {{p.unidade}}
													    </small>
										            </ui-select-choices>
										        </ui-select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label ">Quantidade</label>
										<div class="input-group">
											<input type="text" id="qtde" ng-blur="setIpi(); setIcms(); setIcmsst(); setEdited(0, false); setEdited(1, false); setEdited(2, false)" ng-model='produto_selected.qtde' class='form-control placeholder-no-fix'> 
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label ">Valor Un.</label>
										<div class="input-group">
											<input type="text" name="money" ng-blur="setIpi(); setIcms(); setIcmsst(); setEdited(0, false); setEdited(1, false); setEdited(2, false)" ui-number-mask="2" ng-model='produto_selected.preco' class='form-control placeholder-no-fix'> 
										</div>
									</div>
								</div>

								<div class="portlet">
									<div class="portlet-title">
										<div class="tools">
											<label class="control-label">{{lbl}}</label> <a href="javascript:;" ncheck ng-click="changelbl()" class="expand"> </a>
										</div>
									</div>

									<div class="portlet-body form" style="display: none;">
										<div class="row">
											<div class="form-group">
												<div class="row">
													<div class="col-md-12">
														<div class="form-body">
															<h4>Outras Informações/Impostos</h4>
														</div>
													</div>
												</div>
												<div class="col-md-3">
													<label class="control-label ">Frete</label>
													<div class="input-group">
														<input type="text" name="money" ui-number-mask="2" ng-change="setEdited(0, false); setEdited(1, false); setEdited(2, false) setIpi(); setIcms(); setIcmsst()" ng-model='produto_selected.frete' class='form-control placeholder-no-fix'> 
													</div>
												</div>
												<div class="col-md-3">
													<label class="control-label ">Desconto</label>
													<div class="input-group">
														<input type="text" name="money" ui-number-mask="2" ng-change="setEdited(0, false); setEdited(1, false); setEdited(2, false); setIpi(); setIcms(); setIcmsst()" ng-model='produto_selected.desconto' class='form-control placeholder-no-fix'> 
													</div>
												</div>
												<div class="col-md-3">
													<label class="control-label ">Seguro</label>
													<div class="input-group">
														<input type="text" name="money" ui-number-mask="2" ng-change="setEdited(0, false); setEdited(1, false); setEdited(2, false); setIpi(); setIcms(); setIcmsst()" ng-model='produto_selected.seguro' class='form-control placeholder-no-fix'> 
													</div>
												</div>
												<div class="col-md-3">
													<label class="control-label ">Outros</label>
													<div class="input-group">
														<input type="text" name="money" ui-number-mask="2" ng-change="setEdited(0, false); setEdited(1, false); setEdited(2, false); setIpi(); setIcms(); setIcmsst()" ng-model='produto_selected.outros' class='form-control placeholder-no-fix'> 
													</div>
												</div>
											</div>
										</div>
										<br>
										<ul class="nav nav-tabs">
											<li>
												<a href="#portlet_tab1" ncheck data-toggle="tab"> IPI </a>
											</li>
											<li>
												<a href="#portlet_tab2" ncheck data-toggle="tab"> ICMS </a>
											</li>
											<li>
												<a href="#portlet_tab3" ncheck  data-toggle="tab" ng-show="produto_selected.icms_cst_id == 2 || produto_selected.icms_cst_id == 4 || produto_selected.icms_cst_id == 10"> ICMS ST </a>
											</li>
										</ul>
										<div class="tab-content">
											<div class="tab-pane active" id="portlet_tab1">
												<div class="form-group">
													<div class="row">
														<div class="col-md-7">
															<label class="control-label ">Situação tributária</label>
															<select name="ipi_cst_id" class="form-control" ng-change="calcBcIpi(); setIpi(); setIcms(); setIcmsst(); " ng-model="produto_selected.ipi_cst_id" ng-options="value.id as value.codigo+' - '+value.descricao for (key,value) in ipicsts"> </select>
														</div>

														<div class="col-md-5" ng-show="produto_selected.ipi_cst_id == 8 || produto_selected.ipi_cst_id == 9">
															<label class="control-label ">Base de Cálculo</label> 
															<div class="btn-group">
																<div class="dropup">
																	<a href="javascript:;" ncheck class="dropdown-toggle" data-toggle="dropdown"  data-close-others="true"> <i class="fa fa-cog"></i> </a>
																	<ul class="dropdown-menu pull-right" role="menu">
																		<li>

																			<input type="checkbox" ng-model="produto_selected.calcFreteIpi" ng-change="setEdited(0, false); setEdited(1, false); setEdited(2, false); setIpi(); setIcms(); setIcmsst()"  ng-true-value='1' ng-false-value='0' class="checkboxes" id='freteipi' ng-click="setCheckboxes('freteipi', produto_selected.calcFreteIpi)" >Frete</input><br>
																        	
																        	<input type="checkbox" ng-model="produto_selected.calcDescontoIpi" ng-change="setEdited(0, false); setEdited(1, false); setEdited(2, false); setIpi(); setIcms(); setIcmsst()" ng-true-value='1' ng-false-value='0' class="checkboxes" id='descontoipi' ng-click="setCheckboxes('descontoipi', produto_selected.calcDescontoIpi)"> Desconto </input><br>
																        	
																        	<input type="checkbox" ng-model="produto_selected.calcSeguroIpi" ng-change="setEdited(0, false); setEdited(1, false); setEdited(2, false); setIpi(); setIcms(); setIcmsst()" ng-true-value='1' ng-false-value='0' class="checkboxes" id='seguroipi' ng-click="setCheckboxes('seguroipi', produto_selected.calcSeguroIpi)"> Seguro </input><br>
																        	
																        	<input type="checkbox" ng-model="produto_selected.calcOutrosipi" ng-change="setEdited(0, false); setEdited(1, false); setEdited(2, false); setIpi(); setIcms(); setIcmsst()" ng-true-value='1' ng-false-value='0' class="checkboxes" id='outrosipi' ng-click="setCheckboxes('outrosipi', produto_selected.calcOutrosipi)"> Outros </input><br>
																		</li>
																	</ul>
																</div>
															</div>
															
															<div class="input-group" ng-show="produto_selected.ipi_cst_id == 8 || produto_selected.ipi_cst_id == 9">
																<input type="text" name="alt" ui-number-mask="2" ng-change="setEdited(0, true); setEdited(1, true); setEdited(2, true); setIpi(); setIcms();" ng-model='produto_selected.basecalculoIpi' class='form-control placeholder-no-fix'>
															</div>

														</div>

													</div><br>
													<div class="row">
														<div class="col-md-4" ng-show="produto_selected.ipi_cst_id == 8 || produto_selected.ipi_cst_id == 9">
															<label class="control-label ">Aliquota(%)</label>
															<div class="input-group">
																 <!--ng-show="produto_selected.ipi_cst_id != 8"-->
																<input type="text" name="money" ui-number-mask="2" ng-change="setIpi(); setIcms(); setIcmsst()" ng-model='produto_selected.ipi_aliquota' class='form-control placeholder-no-fix'> 
															</div>
														</div>
														<div class="col-md-4" ng-show="produto_selected.ipi_cst_id == 8 || produto_selected.ipi_cst_id == 9">
															<label class="control-label ">Valor IPI</label>
															<div class="input-group">
																 <!--ng-show="produto_selected.ipi_cst_id != 8"-->
																<input type="text" name="alt" ng-change="setIcms(); setIcmsst()" ui-number-mask="2" ng-model='produto_selected.valoripi' class='form-control placeholder-no-fix'> 
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="tab-pane" id="portlet_tab2">
												<div class="form-group">
													<div class="row">
														<div class="col-md-7">
															<label class="control-label ">Situação tributária</label>
															<select name="icms_cst_id" class="form-control" ng-change="calcBcIcms(); setIcms(); setIcmsst();" ng-model="produto_selected.icms_cst_id" ng-options="value.id as value.codigo+' - '+value.descricao for (key,value) in icmscsts">				
															</select>
														</div>
														<div class="col-md-5" ng-hide="produto_selected.icms_cst_id == 4 || produto_selected.icms_cst_id == 5 || produto_selected.icms_cst_id == 6 || produto_selected.icms_cst_id == 7 || produto_selected.icms_cst_id == 9">

															<label class="control-label ">Base de Cálculo</label> 

															<div class="btn-group">
																<div class="dropup">
																	<a href="javascript:;" ncheck class="dropdown-toggle" data-toggle="dropdown" data-close-others="true"> <i class="fa fa-cog"></i> </a>
																	<ul class="dropdown-menu pull-right" role="menu">
																		<li>
																			<input type="checkbox" ng-model="produto_selected.calcIpiIcms" ng-change="setEdited(1, false); setEdited(2, false); calcBcIcms(); setIcms(); setIcmsst()" ng-true-value='1' ng-false-value='0' id='ipiicms' ng-click="setCheckboxes('ipiicms', produto_selected.calcIpiIcms)" > IPI </input><br>

																			<input type="checkbox" ng-model="produto_selected.calcFreteIcms" ng-change="setEdited(1, false); setEdited(2, false); calcBcIcms(); setIcms(); setIcmsst()" ng-true-value='1' ng-false-value='0' id='freteicms' ng-click="setCheckboxes('freteicms', produto_selected.calcFreteIcms)" > Frete </input><br>
																        	
																        	<input type="checkbox" ng-model="produto_selected.calcDescontoIcms" ng-change="setEdited(1, false); setEdited(2, false); calcBcIcms(); setIcms(); setIcmsst()" ng-true-value='1' ng-false-value='0' id='descontoicms' ng-click="setCheckboxes('descontoicms', produto_selected.calcDescontoIcms)" > Desconto </input><br>
																        	
																        	<input type="checkbox" ng-model="produto_selected.calcSeguroIcms" ng-change="setEdited(1, false); setEdited(2, false); calcBcIcms(); setIcms(); setIcmsst()" ng-true-value='1' ng-false-value='0' id='seguroicms' ng-click="setCheckboxes('seguroicms', produto_selected.calcSeguroIcms)" > Seguro </input><br>
																        	
																        	<input type="checkbox" ng-model="produto_selected.calcOutrosIcms" ng-change="setEdited(1, false); setEdited(2, false); calcBcIcms(); setIcms(); setIcmsst()" ng-true-value='1' ng-false-value='0' id='outrosicms' ng-click="setCheckboxes('outrosicms', produto_selected.calcOutrosIcms)" > Outros </input><br>
																		</li>
																	</ul>
																</div>
															</div>
															<div class="input-group">
																<!--ng-show="produto_selected.icms_cst_id != 1"-->
																<input type="text" name="alticms" ui-number-mask="2" ng-change="setEdited(2, true); setIcms(); setIcmsst(); setEdited(1, true); " ng-model='produto_selected.basecalculoIcms' class='form-control placeholder-no-fix'> 
															</div>

														</div>
													</div><br>
													<div class="row">
														<div class="col-md-5" ng-hide="produto_selected.icms_cst_id != 3 && produto_selected.icms_cst_id != 10"> 
															<label class="control-label">Red. Base de Calculo(%)</label>
															<div class="input-group">
																<!-- ng-show="produto_selected.icms_cst_id != 1" -->
																<input type="text" name="money" ng-change="setEdited(2, true); setIcms(); setIcmsst()" ui-number-mask="2" ng-model="icmsProdutoSelected.reducaobasecalculo" class='form-control placeholder-no-fix'> 
															</div>
														</div>
														<div class="col-md-3" ng-hide="produto_selected.icms_cst_id != 8"> 
															<label class="control-label ">Diferimento(%)</label>
															<div class="input-group">
																<!-- ng-show="produto_selected.icms_cst_id != 1" -->
																<input type="text" name="money" ng-change="setIcms(); setIcmsst()" ui-number-mask="2" ng-model='icmsProdutoSelected.diferimento' class='form-control placeholder-no-fix'> 
															</div>
														</div>

														<div class="col-md-3"  ng-hide="produto_selected.icms_cst_id == 4 || produto_selected.icms_cst_id == 5 || produto_selected.icms_cst_id == 6 || produto_selected.icms_cst_id == 7 || produto_selected.icms_cst_id == 9"> 
															<label class="control-label ">Aliquota(%)</label>
															<div class="input-group">
																<!-- ng-show="produto_selected.icms_cst_id != 1" -->
																<input type="text" name="money" ng-change="setIcms(); setIcmsst()" ui-number-mask="2" ng-model='produto_selected.icms_aliquota' class='form-control placeholder-no-fix'> 
															</div>
														</div>

														<div class="col-md-6"  ng-show="produto_selected.icms_cst_id == 4"> 
															<label class="control-label ">Aliquota para fins de Calculo(%)</label>
															<div class="input-group">
																<!-- ng-show="produto_selected.icms_cst_id != 1" -->
																<input type="text" name="money" ng-change="setIcmsst()" ui-number-mask="2" ng-model='icmsProdutoSelected.aliquotafinscalculo' class='form-control placeholder-no-fix'> 
															</div>
														</div>

														<div class="col-md-3" ng-hide="produto_selected.icms_cst_id == 4 || produto_selected.icms_cst_id == 5 || produto_selected.icms_cst_id == 6 || produto_selected.icms_cst_id == 7 || produto_selected.icms_cst_id == 9">
															<label class="control-label ">Valor ICMS</label>
															<div class="input-group">
																<input type="text" name="alticms" ng-change="setIcmsst()" ui-number-mask="2" ng-model='produto_selected.valoricms' class='form-control placeholder-no-fix'> 
															</div>
														</div>
														<div class="col-md-3" ng-hide="produto_selected.icms_cst_id != 8">
															<label class="control-label ">Valor ICMS Dif.</label>
															<div class="input-group">
																<input type="text" name="alticms" ng-change="setIcmsst()" ui-number-mask="2" ng-model='produto_selected.valoricmsdiferido' class='form-control placeholder-no-fix'> 
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="tab-pane" id="portlet_tab3" >
												<div class="row">
													<div class="col-md-9">
														<label class="control-label">Modalidade BC ICMS ST</label>
														<select name="modalidadebcicmsst_id" on-select="getIcms(produto_selected.id, true); setIcmsst()" class="form-control" ng-model="icmsProdutoSelected.modalidadebcicmsst_id"
															ng-options="value.id as value.codigo + ' - ' +value.descricao for (key, value) in modalidadebcicmssts">
														</select><br>
													</div>	
													<div class="col-md-3" ng-show="icmsProdutoSelected.modalidadebcicmsst_id == 5">
														<label class="control-label">MVA(%)</label>
														<input type="number" name="mva" ng-model="icmsProdutoSelected.mva" ng-change="setEdited(2, false); calcBcIcmsst();" class="form-control placeholder-no-fix"/>
													</div>
												</div>
												<div class="row">
													<div class="col-md-12">
														<div class="form-group" ng-show="icmsProdutoSelected.modalidadebcicmsst_id == 5">
															<label class="control-label">Permite Redução MVA</label>							
															<label>
																<input id="reducaomva" ng-click="setCheckboxes('reducaomva', icmsProdutoSelected.reducaomva)" ng-model="icmsProdutoSelected.reducaomva" type="checkbox" > 
															</label>								
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-md-4" >

														<label class="control-label ">Base de Cálculo</label> 
														<div class="btn-group">
															<div class="dropup">
																<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true"> <i class="fa fa-cog"></i> </a>
																<ul class="dropdown-menu pull-right" role="menu">
																	<li>
																		<input type="checkbox" ng-model="produto_selected.calcIpiIcmsst" ng-change="setEdited(2, false); calcBcIcmsst(); setIcmsst();" ng-true-value='1' ng-false-value='0' id='ipiicmsst' ng-click="setCheckboxes('ipiicmsst', produto_selected.calcIpiIcmsst)" > IPI </input><br>

																		<input type="checkbox" ng-model="produto_selected.calcFreteIcmsst" ng-change="setEdited(2, false); calcBcIcmsst(); setIcmsst();" ng-true-value='1' ng-false-value='0' id='freteicmsst' ng-click="setCheckboxes('freteicmsst', produto_selected.calcFreteIcmsst)" > Frete </input><br>
															        	
															        	<input type="checkbox" ng-model="produto_selected.calcDescontoIcmsst" ng-change="setEdited(2, false); calcBcIcmsst(); setIcmsst();" ng-true-value='1' ng-false-value='0' id='descontoicmsst' ng-click="setCheckboxes('descontoicmsst', produto_selected.calcDescontoIcmsst)" > Desconto </input><br>
															        	
															        	<input type="checkbox" ng-model="produto_selected.calcSeguroIcmsst" ng-change="setEdited(2, false); calcBcIcmsst(); setIcmsst();" ng-true-value='1' ng-false-value='0' id='seguroicmsst' ng-click="setCheckboxes('seguroicmsst', produto_selected.calcSeguroIcmsst)" > Seguro </input><br>
															        	
															        	<input type="checkbox" ng-model="produto_selected.calcOutrosIcmsst" ng-change="setEdited(2, false); calcBcIcmsst(); setIcmsst();" ng-true-value='1' ng-false-value='0' id='outrosicmsst' ng-click="setCheckboxes('outrosicmsst', produto_selected.calcOutrosIcmsst)" > Outros </input><br>
																	</li>
																</ul>
															</div>
														</div>

														<div class="input-group">
															<!--ng-show="produto_selected.icms_cst_id != 1"-->
															<input type="text" name="alticmsst" ui-number-mask="2" ng-change="setEdited(2, true); setIcmsst();" ng-model='produto_selected.basecalculoIcmsst' class='form-control placeholder-no-fix'> 
														</div>
													</div>

													<div class="col-md-4" > 
														<label class="control-label ">Aliquota(%)</label>
														<div class="input-group">
															<!-- ng-show="produto_selected.icms_cst_id != 1" -->
															<input type="text" name="money" ng-change="setEdited(2, true); setIcmsst();" ui-number-mask="2" ng-model='produto_selected.icmsst_aliquota' class='form-control placeholder-no-fix'> 
														</div>
													</div>
													<div class="col-md-4">
														<label class="control-label ">Valor ICMS ST</label>
														<div class="input-group">
															<input type="text" name="alticms" ui-number-mask="2" ng-model='produto_selected.valoricmsst' class='form-control placeholder-no-fix'> 
														</div>
													</div>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" ng-disabled="!produto_selected.qtde || produto_selected.qtde <= 0 || produto_selected.preco <= 0 || !produto_selected.descricao" ng-click="addProduto(produto_selected); saveProduto(produto_selected);" class="btn blue" data-dismiss="modal">Salvar</button>
						<button type="button" ng-click="cancelEdit(); " class="btn default" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div> 
	
		<div class="modal fade" id="portlet-config_edit_values" data-backdrop="static" data-keyboard="false" tabindex="-3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" id="end_form">
					<div class="modal-header">
						<h4 class="modal-title">Editar Valores</h4>
					</div>
					<div class="modal-body" >
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label ">Frete total</label>
									<div class="input-group">
										<input type="text" name="money" ui-number-mask="2" ng-model='totalfrete' class='form-control placeholder-no-fix'> 
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label ">Desconto total</label>
									<div class="input-group">
										<input type="text" name="money" ui-number-mask="2" ng-model='totaldesconto' class='form-control placeholder-no-fix'> 
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label ">Seguro  total</label>
									<div class="input-group">
										<input type="text" name="money" ui-number-mask="2" ng-model='totalseguro' class='form-control placeholder-no-fix'> 
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label ">Outros</label>
									<div class="input-group">
										<input type="text" name="money" ui-number-mask="2" ng-model='totaloutros' class='form-control placeholder-no-fix'> 
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div class="modal-footer">
						<button type="button" ng-click="calcRatio();" class="btn blue" data-dismiss="modal">Salvar</button>
						<button type="button" ng-click="cancelRatio()" class="btn default" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div> 
		<!-- END PAGE CONTENT -->
	</div>
</div>  
