<!-- BEGIN PAGE CONTAINER -->
<div class="page-container" ng-view ng-controller="MovimentomsCtrl" id="EditingObjId" data="<%=editingUser.id%>" empresa_atual="<%=(current_user.settings(:last_empresa).edited).id%>">
	<!-- BEGIN PAGE HEAD -->
	<div class="page-head">
			<!-- END PAGE TITLE -->
			<!-- BEGIN PAGE CONTENT -->
		<div class="page-content">
			<div class="container">
				<!-- BEGIN PAGE BREADCRUMB -->
				<ul class="page-breadcrumb breadcrumb">
					<li>
						<%= link_to "Pagina Inicial", root_path, 'data-no-turbolink' => true %>
					</li>
					<i class="fa fa-circle"></i>
					<li>
						<%= link_to "Movimentos", movimentoms_path, 'data-no-turbolink' => true %>
					</li>
					<i class="fa fa-circle"></i>
					<li class="active">
						<%= t"#{action_name}" %>
					</li>
				</ul>
				<div class="row">
					<div class="col-md-12">
						<div class="portlet light">
							<div class="portlet-title tabbable-line">
								<div class="caption caption-md">
									<i class="icon-globe theme-font hide"></i>
										<span class="caption-subject font-blue-madison bold uppercase">	<%= t"#{action_name}" %> Movimento</span>
									<i class="fa fa-plus"></i>
								</div>
								<div class="actions btn-set">
									<%= link_to "Voltar", movimentoms_path, :class => "btn default btn-circle ", 'data-no-turbolink' => true %>
									<button ng-click="save()" class="btn btn-default btn-circle"><i class="fa fa-check"></i> Salvar</button><br>
								</div>
							</div>
							<div id="error_explanation" class="Metronic-alerts alert alert-danger" ng-if="mensagens.length > 0">
								<ul ng-repeat="m in mensagens">
									 <li>{{m}}</li>
								</ul>
							</div>
							<form name="form_1" class="css-form" novalidate>
								<div class="portlet-body">
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label ">Data de Emissão</label>

												<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
												<input type="text" name="data" ng-model='data.data' id="datepicker" data-date-format="dd/mm/yyyy" class="form-control form-control-inline input-medium date-picker" size="16">
												<!--<span class="help-block"> Select date </span>-->
											</div>
										</div>
										<div class="col-md-9">

											<div class="form-group">
												<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
												<label class="control-label ">Cliente</label>
												<ui-select ng-model="data.entidade_id"  name="entidade" theme="bootstrap">
										            <ui-select-match allow-clear="false" placeholder="">{{$select.selected.nome_fantasia}}</ui-select-match>
										            <ui-select-choices repeat="e.id as e in entidade_opts | filter: $select.search">
										              <span ng-bind-html="e.nome_fantasia "></span>
										            </ui-select-choices>
										        </ui-select>
											</div>
										</div>
									</div>

									<div class ="row">
										<div class="col-md-12">
											<div class="portlet">
												<div class="portlet-title">
													<div class="caption">
														Itens
													</div>
													<div class="actions"> 
														<a class="btn btn-default btn-sm"  ncheck href="#portlet-config" ng-click="setFocusInput()" data-toggle="modal">
														<i class="fa fa-plus"></i> Adicionar </a>
													</div>
												</div>
												<div class="portlet-body">
													<div class="table-container">
														<table class="table table-striped table-bordered table-hover" id="datatable_orders">
															<thead>
																<tr role="row">
																	<th  width="45%">
																		Produto
																	</th>
																	
																	<th style="text-align:center" width="8%">
																		Frete
																	</th >
																	<th style="text-align:center" width="8%">
																		Desconto
																	</th >
																	<th style="text-align:center" width="8%">
																		Seguro
																	</th >
																	<th style="text-align:center" width="8%">
																		Outros
																	</th >
																	<th style="text-align:center" width="8%">
																		Qtde
																	</th >
																	<th style="text-align:center" width="8%">
																		Preço
																	</th >
																	<th style="text-align:center" width="8%">
																		Total
																	</th >
																	<th style="text-align:center" width="11%">
																		Ações
																	</th>
																</tr>
															</thead>
															<tbody >
																<tr ng-repeat="p in produtos_choosen track by p.codigo">
																	<td>{{p.codigo}} - {{p.descricao}}</td>
																	<td align="right" >{{ p.frete | customCurrency }}</td>
																	<td align="right" >{{ p.desconto | customCurrency }}</td>
																	<td align="right" >{{ p.seguro | customCurrency }}</td>
																	<td align="right" >{{ p.outros | customCurrency }}</td>
																	<td align="right">{{p.qtde}}</td>
																	<td align="right" >{{ p.preco | customCurrency }}</td>
																	<td align="right" >{{(((p.preco * 1) * p.qtde ) + (p.frete * 1) + (p.seguro * 1) + (p.outros * 1) - (p.desconto * 1))  | customCurrency }}</td>
																	<td align="center"> 
																		<a ncheck href="#portlet-config_edit" ng-click="edit_produto($index)" data-toggle="modal" class="btn yellow btn-sm"> <i class="fa fa-pencil"></i> </a>
																		<a ng-click="delete_produto($index)" class="btn red btn-sm"><i class="fa fa-trash-o"></i></a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-4 pull-right">
											<div class="row">
												<div class="col-md-12">
											<div class="actions">  
												<a class="btn btn-default btn-xs pull-right" ncheck ng-click="preCalcRatio()" href="#portlet-config_edit_values"  data-toggle="modal">
												<i class="fa fa-pencil"></i> Editar</a><br>
											</div></div></div>

											<div class="well ">
												<div class="row static-info">
													<div class="col-md-8 name">
														 Quantidade de Itens:
													</div>
													<div class="col-md-4 value" align="right">
														{{data.totalquantidade}}
													</div>
												</div>
												<div class="row static-info ">
													<div class="col-md-8 name">
														 Valor total itens:
													</div>
													<div class="col-md-4 value" align="right">
														 {{totalpreco| customCurrency : "R$" }}
													</div>
												</div>
												<div class="row static-info " ng-show="totalfrete > 0">
													<div class="col-md-8 name">
														 Valor total frete:
													</div>
													<div class="col-md-4 value" align="right">
														 {{totalfrete | customCurrency : "R$" }}
													</div>
												</div>
												<div class="row static-info " ng-show="totaldesconto > 0">
													<div class="col-md-8 name">
														 Valor total desconto:
													</div>
													<div class="col-md-4 value" align="right">
														 {{totaldesconto | customCurrency : "R$" }}
													</div>
												</div>
												<div class="row static-info " ng-show="totalseguro > 0">
													<div class="col-md-8 name">
														 Valor total seguro:
													</div>
													<div class="col-md-4 value" align="right">
														 {{totalseguro | customCurrency : "R$" }}
													</div>
												</div>
												<div class="row static-info " ng-show="totaloutros > 0">
													<div class="col-md-8 name">
														 Valor total outros:
													</div>
													<div class="col-md-4 value" align="right">
														 {{totaloutros | customCurrency : "R$" }}
													</div>
												</div>
												<div class="row static-info ">
													<div class="col-md-8 name">
														 Valor total:
													</div>
													<div class="col-md-4 value" align="right">
														 {{data.totalvalor | customCurrency : "R$" }}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="portlet-config" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" id="end_form">
					<div class="modal-header">
						<h4 class="modal-title">Adicionar produto</h4>
					</div>
					<div class="modal-body" >
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-7">
									<div class="form-group">
										<div class="typeahead-container">
											<div class="typeahead-field" id='tipo'>
												<label>Produto</label>
												<ui-select reset-search-input="true" id="produto" focus-on='setFocus' ng-model="produto_selected" on-select="setProdutoSelected($item); NextField()" theme="bootstrap">
										            <ui-select-match allow-clear="false">{{$select.selected.descricao}}</ui-select-match>
										            <ui-select-choices repeat="p in produto_opts | filter: $select.search" refresh="refreshProdutos($select.search)" refresh-delay="0">
										              	<div ng-bind-html="p.descricao | highlight: $select.search"></div>
										              	 <small>
										              	 	<!--<img src='/produtos/showImg/{{p.id}}' width="30px;" height="30px;" > -->
													        Cod: {{p.codigo}}
													        Preço: {{p.preco | customCurrency}}
													        Un: {{p.unidade}}
													    </small>
										            </ui-select-choices>
										        </ui-select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<div class="form-group">
										<label class="control-label ">Quantidade</label>
										<div class="input-group">
											<!--<span class="input-group-addon"><i class="fa fa-cubes"></i></span>-->
											<input type="text" id="qtde" ng-model='produto_selected.qtde' class='form-control placeholder-no-fix'> 
										</div>
									</div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<label class="control-label ">Preço</label>
										<div class="input-group">
											<span class="input-group-addon"> R$ </span>
											<input type="text" name="money" ng-model='produto_selected.preco' class='form-control placeholder-no-fix'> 
										</div>
									</div>
								</div>

								<div class="portlet">
									<div class="portlet-title">
										<div class="tools">
											<a href="javascript:;" class="expand"> </a>
										</div>
									</div>
									<div class="portlet-body form" style="display: none;">
										<div class="row">
											<div class="col-md-12">
												<div class="form-body">
													<h4>Outras Informações</h4>
												</div>
											</div>
										</div>
									
										<div class="col-md-3">
											<div class="form-group ">
												<label class="control-label ">Frete</label>
												<div class="input-group">
													<input type="text" name="money" ng-model='produto_selected.frete' class='form-control placeholder-no-fix'> 
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label ">Desconto</label>
												<div class="input-group">
													<input type="text" name="money" ng-model='produto_selected.desconto' class='form-control placeholder-no-fix'> 
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label ">Seguro</label>
												<div class="input-group">
													<input type="text" name="money" ng-model='produto_selected.seguro' class='form-control placeholder-no-fix'> 
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<label class="control-label ">Outros</label>
												<div class="input-group">
													<input type="text" name="money" ng-model='produto_selected.outros' class='form-control placeholder-no-fix'> 
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" ng-disabled="!produto_selected.qtde || produto_selected.qtde <= 0 || produto_selected.preco <= 0 || !produto_selected.descricao" ng-click="addProduto(produto_selected); setTotal();" class="btn blue" data-dismiss="modal">Adicionar</button>
						<button type="button"  ng-click=" " class="btn default" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div> 
		<div class="modal fade" id="portlet-config_edit" data-backdrop="static" data-keyboard="false" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" id="end_form">
					<div class="modal-header">
						<h4 class="modal-title">Editar produto</h4>
					</div>
					<div class="modal-body" >
						<div class="row">
							<div class="col-md-7">
								<div class="form-group">
									<div class="typeahead-container">
										<div class="typeahead-field" id='tipo'>
											<label>Produto</label>
											<input type="text"  disabled="true" ng-model='produto_selected.descricao' class='form-control placeholder-no-fix'> 
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-group">
									<label class="control-label ">Quantidade</label>
									<div class="input-group">
										<!--<span class="input-group-addon"><i class="fa fa-cubes"></i></span>-->
										<input type="text" name="descricao" ng-model='produto_selected.qtde' class='form-control placeholder-no-fix'> 
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label ">Preço</label>
									<div class="input-group">
										<span class="input-group-addon"> R$ </span>
										<input type="text" name="money" ng-model='produto_selected.preco' class='form-control placeholder-no-fix'> 
									</div>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label ">Frete</label>
									<div class="input-group">
										<input type="text" name="money" ng-model='produto_selected.frete' class='form-control placeholder-no-fix'> 
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label ">Desconto</label>
									<div class="input-group">
										<input type="text" name="money" ng-model='produto_selected.desconto' class='form-control placeholder-no-fix'> 
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label ">Seguro</label>
									<div class="input-group">
										<input type="text" name="money" ng-model='produto_selected.seguro' class='form-control placeholder-no-fix'> 
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label ">Outros</label>
									<div class="input-group">
										<input type="text" name="money" ng-model='produto_selected.outros' class='form-control placeholder-no-fix'> 
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div class="modal-footer">
						<button type="button" ng-disabled="!produto_selected.qtde || produto_selected.qtde <= 0 || produto_selected.preco <= 0 || !produto_selected.descricao" ng-click="setTotal();" class="btn blue" data-dismiss="modal">Salvar</button>
						<button type="button"  ng-click="set_novo()" class="btn default" data-dismiss="modal">Cancelar</button>

					</div>
				</div>
				<!-- /.modal-content -->
			</div>
		</div>
		<div class="modal fade" id="portlet-config_edit_values" data-backdrop="static" data-keyboard="false" tabindex="-3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content" id="end_form">
					<div class="modal-header">
						<h4 class="modal-title">Editar Valores</h4>
					</div>
					<div class="modal-body" >
						<div class="row">
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label ">Frete total</label>
									<div class="input-group">
										<input type="text" name="money" ng-model='totalfrete' class='form-control placeholder-no-fix'> 
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label ">Desconto total</label>
									<div class="input-group">
										<input type="text" name="money" ng-model='totaldesconto' class='form-control placeholder-no-fix'> 
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label ">Seguro  total</label>
									<div class="input-group">
										<input type="text" name="money" ng-model='totalseguro' class='form-control placeholder-no-fix'> 
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group">
									<label class="control-label ">Outros</label>
									<div class="input-group">
										<input type="text" name="money" ng-model='totaloutros' class='form-control placeholder-no-fix'> 
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div class="modal-footer">
						<button type="button"  ng-click="calcRatio()" class="btn blue" data-dismiss="modal">Salvar</button>
						<button type="button"  ng-click="cancelRatio()" class="btn default" data-dismiss="modal">Cancelar</button>

					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div> 
		<!-- END PAGE CONTENT -->
	</div>
</div>  
