<!-- BEGIN PAGE CONTAINER -->
<div class="page-container">
	<!-- BEGIN PAGE HEAD -->
	<div class="page-head">
			<!-- END PAGE TITLE -->
			<!-- BEGIN PAGE CONTENT -->
		<div class="page-content">
			<div class="container">
				<!-- BEGIN PAGE BREADCRUMB -->
				<ul class="page-breadcrumb breadcrumb">
					<li>
						<%= link_to "Pagina Inicial", root_path, 'data-no-turbolink' => true %>
					</li>
					<i class="fa fa-circle"></i>
					<li>
						<%= link_to "Empresas", empresas_path, 'data-no-turbolink' => true %>
					</li>
					<i class="fa fa-circle"></i>
					<li class="active">
						Novo
					</li>
				</ul>
				<div class="col-md-12">
					<div class="portlet light">
						<div class="portlet-title tabbable-line">
							<div class="caption caption-md">
								<i class="icon-globe theme-font hide"></i>
									<span class="caption-subject font-blue-madison bold uppercase">Adicionar Empresa</span>
								<i class="fa fa-plus"></i>
							</div>
						</div>
							<div class="portlet-body">
							<%= form_for((@empresa), url: new_empresa_path, html: { method: :post }) do |f|%>
								<% if @empresa.errors.any? %>
									<div id="error_explanation" class="Metronic-alerts alert alert-danger">
										<ul>
											<% @empresa.errors.full_messages.each do |message| %>
											 <li><%= message %></li>
										 <% end %>
										</ul>
									</div>
								<% end %>
								<div class="form-group">
									<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
									<label class="control-label ">Razao Social</label>
									<%= f.text_field :razao_social,  autofocus: true, :autocomplete => "on", :class =>"form-control placeholder-no-fix"%>
								</div>

								<div class="form-group">
									<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
									<label class="control-label ">Nome Fantasia</label>
									<%= f.text_field :nome_fantasia,  autofocus: true, :autocomplete => "on", :class =>"form-control placeholder-no-fix"%>
								</div>

								<div class="form-group">
									<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
									<label class="control-label ">CNPJ</label>
									<%= f.text_field :cnpj,  autofocus: true, :autocomplete => "on", :id =>"campocnpj", :class =>"form-control placeholder-no-fix"%>
								</div>

								<div class="form-group">
									<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
									<label class="control-label ">Inscrição Estadual</label>
									<%= f.text_field :insc_estadual,  autofocus: true, :autocomplete => "on", :class =>"form-control placeholder-no-fix"%>
								</div>

								<div class="form-group">
									<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
									<label class="control-label ">Inscrição Municipal</label>
									<%= f.text_field :insc_municipal,  autofocus: true, :autocomplete => "on", :class =>"form-control placeholder-no-fix"%>
								</div>

								<div class="form-body">
											<h3 class="form-section">Endereço</h3><br>
											<div class="row">
												<div class="col-md-12 ">
													<div class="form-group">
														<label>Rua</label>
														<%= f.text_field :rua,  autofocus: true, :autocomplete => "on", :class =>"form-control placeholder-no-fix"%>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>Numero</label>
														<%= f.text_field :num_rua,  autofocus: true, :autocomplete => "on", :class =>"form-control placeholder-no-fix"%>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label>Complemento</label>
														<%= f.text_field :complemento,  autofocus: true, :autocomplete => "on", :class =>"form-control placeholder-no-fix"%>
													</div>
												</div>
												<!--/span-->
											</div>
											<!--/row-->
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>Bairro</label>
														<%= f.text_field :bairro,  autofocus: true, :autocomplete => "on", :class =>"form-control placeholder-no-fix"%>
													</div>
												</div>
												
												<div class="col-md-6">
													<div class="form-group">
														<label>CEP</label>
														<%= f.text_field :cep,  autofocus: true, :autocomplete => "on", :class =>"form-control placeholder-no-fix"%>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Cidade</label>
														<%= f.text_field :cidade,  autofocus: true, :autocomplete => "on", :class =>"form-control placeholder-no-fix"%>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label>UF</label>
														<%= f.select :uf, [['Acre', 'AC'], ['Alagoas', 'AL'], ['Amapá', 'AP'], ['Amazonas', 'AM'], ['Bahia', 'BA'],['Ceará', 'CE'], ['Distrito Federal', 'DF'], ['Espirito Santo', 'ES'], ['Goiás', 'GO'], ['Maranhão', 'MA'], ['Mato Grosso', 'MT'], ['Mato Grosso do Sul', 'MS'], ['Minas Gerais', 'MG'], ['Pará', 'PA'], ['Paraiba', 'PB'], ['Paraná', 'PR'], ['Pernambuco', 'PE'], ['Piauí', 'PI'], ['Rio de Janeiro', 'RJ'], ['Rio Grande do Norte', 'RN'], ['Rio Grande do Sul', 'RS'], ['Rondônia', 'RO'], ['Roraima', 'RR'], ['Santa Catarina', 'SC'], ['São Paulo', 'SP'], ['Sergipe', 'SE'], ['Tocantis', 'TO']], {},{:class =>"form-control"} %>
													</div>
												</div>
												<!--/span-->
												
											</div>
										</div>

									<div class="actions">
											<%= f.submit "Gravar", :class => "btn green-meadow pull-left"%>
									</div><br><br><br>
									
									<%= link_to "Voltar", empresas_path, :class => "btn default ", 'data-no-turbolink' => true %>
								<% end %>
							</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END PAGE CONTENT -->
	</div>
</div>  
<script>
jQuery(document).ready(function() {       
	 // initiate layout and plugins
	Metronic.init(); // init metronic core components
	Layout.init(); // init current layout
	$("#campocnpj").mask("99.999.999/9999-99", {removeMaskOnSubmit: true, clearMaskOnLostFocus: true });
	$("#new_empresa").submit(function() {
	 	$("#campocnpj").val($("#campocnpj").mask()); 
	});

	$('[name="emp_link"]').click(function () 
	{
		var id = $(this).attr('value');
		$.ajax({
			type: 'post',
			url: '/users/set_current_emp',
			data: {emp_id : id}
		});
	  	window.location.reload();		
	});

	/*$('#tabela').DataTable({
		"sPaginationType": "full_numbers",
			"processing": true,
			"serverSide": true,
		"ajax": $('#tabela').data('source'),
		 "columns": 
			[{ "bSortable": false, "bSearchable": false, "data": null, "render": function ( data, type, row ) {
								return '<a href="/user/'+data.id+'/edit" class="btn yellow btn-xs pull-center"><i class="fa fa-pencil"></i> Editar</a> <a data-confirm="Tem certeza que deseja excluir o usuário?" rel="nofollow" data-method="delete" href="/user/'+data.id+'" class="btn red btn-xs pull-right"> <i class="fa fa-times"></i> Deletar</a> '}}]
	});*/
 //init tabela
});

</script>
