<!DOCTYPE html>
<html >
	<head>
		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
		<%if controller.controller_name != 'sessions'  %>
			<meta charset="utf-8"/>
			<%if controller_name == 'index'%>
				<title>MASTERCOM | INDEX</title>
			<%elsif controller_name == 'grupo'%>
				<title>MASTERCOM | GRUPOS</title>
			<%elsif controller_name == 'subgrupo'%>
				<title>MASTERCOM | SUBGRUPOS</title>
			<%elsif controller_name == 'empresa'%>
				<title>MASTERCOM | EMPRESAS</title>
			<%elsif controller_name == 'user'%>
				<title>MASTERCOM | USUARIOS</title>
			<%elsif controller_name == 'nivelacesso'%>
				<title>MASTERCOM | ACESSOS </title>
			<%elsif controller_name == 'estado'%>
				<title>MASTERCOM | ESTADOS </title>
			<%elsif controller_name == 'classificacaofiscal'%>
				<title>MASTERCOM | CLASSIFICAÇÕES FISCAIS </title>		
			<%else%>
				<title>MASTERCOM</title>
			<%end%>
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
			<meta http-equiv="Content-type" content="text/html; charset=utf-8">
			<meta content="" name="description"/>
			<meta content="" name="author"/>
			<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css">		

		<%end%>
	</head>	
	<body ng-app='myApp'>	
	<%if current_user.try(:id)%>
	<div class="page-header">

	<!-- BEGIN HEADER TOP -->
	<div class="page-header-top">
		<div class="container">
			<!-- BEGIN LOGO -->
			<div class="page-logo">
				<a href="/"><img src="../../assets/admin/layout3/img/logo-default.png" alt="logo" class="logo-default"></a>
			</div>
			<!-- END LOGO -->
			<!-- BEGIN RESPONSIVE MENU TOGGLER -->
			<a href="javascript:;" class="menu-toggler"></a>
			<!-- END RESPONSIVE MENU TOGGLER -->
			<!-- BEGIN TOP NAVIGATION MENU -->
			<div class="top-menu">
				<ul class="nav navbar-nav pull-right">
					<!-- BEGIN NOTIFICATION DROPDOWN -->
					<!-- END NOTIFICATION DROPDOWN -->
					<!-- END TODO DROPDOWN -->
					<!-- BEGIN INBOX DROPDOWN -->
					<li class="dropdown dropdown-extended dropdown-dark dropdown-inbox" id="header_inbox_bar">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
						</a>
					</li>
					<!-- END INBOX DROPDOWN -->
					<li class="dropdown dropdown-user dropdown-dark">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
							<%if current_user.photo.present?%>
								<%= image_tag photo_path(current_user), :class => "img-circle" %>
							<%else%>
								<img src="/photos/original/missing.png" class="img-circle">
							<%end%>
							<span class="username username-hide-mobile"><%= current_user.fullname%></span>
						</a>
						<ul class="dropdown-menu dropdown-menu-default">
							<li>
								<a data="<%=current_user.id%>" data-method="get" href="/user/<%=current_user.id%>/edit?method_name=get" ><i class="icon-user"></i> Meu perfil </a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a rel="nofollow" data-method="delete" href="/users/sign_out"> <i class="fa fa-sign-out"></i> Encerrar Sessão </a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- END TOP NAVIGATION MENU -->
		</div>
	</div>
	<!-- END HEADER TOP -->	
	<!-- BEGIN HEADER MENU -->
	<div class="page-header-menu">
		<div class="container">
			<!-- BEGIN MEGA MENU -->
			<!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
			<!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
			<div class="hor-menu ">
				<ul class="nav navbar-nav">
					<li>
						<a data-no-turbolink="true" href="/"> Página Inicial</a>
					</li>
					<% menu.each do |hkey, hvalue|%>
						<li class="menu-dropdown mega-menu-dropdown mega-menu-full">
							<a data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle"> <%= hvalue[:label]%> <i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu">
								<li>
									<div class="mega-menu-content">
										<div class="row">
											<%if hvalue.is_a?(Hash)%>
												<% hvalue.each do |subkey, subvalue|%>
													<%if subvalue.is_a?(Hash)%>
														<div class="col-md-2">
															<ul class="mega-menu-submenu">
																<li>
																	<h3><%=subvalue[:label]%></h3>
																</li>
																<% subvalue.each do |optkey, optvalue|%>
																	<% if optvalue.is_a?(Hash)%>
																		<li>
																			<a data-no-turbolink="true" href=<%=optvalue[:path]%>><i class="fa fa-angle-right"></i><%=optvalue[:label]%></a>
																		</li>
																	<%end%>
																<%end%>
															</ul>
														</div>
													<%end%>
												<%end%>
											<%end%>
										</div>
									</div>
								</li>
							</ul>
						</li>
					<%end%>
				</ul>
			</div>

			<div class="hor-menu pull-right">
				<ul class="nav navbar-nav navbar-right">
					<li class="mega-menu-dropdown pull-right">
						<%if current_user.settings(:last_empresa).edited.present?%>
							<% if lastEmpTable.count > 1%>
								<a id="empresa_menu_dropdown" data-hover="megamenu-dropdown" data-close-others="true" data-toggle="dropdown" href="javascript:;" class="dropdown-toggle">
								<i class="icon-briefcase"></i> <%=current_user.settings(:last_empresa).edited.nome_fantasia%> </a>
							<%else%>
								<a id="empresa_menu_dropdown" data-hover="megamenu" data-close-others="true" href="javascript:;" class="dropdown-toggle">
								<i class="icon-briefcase"></i> <%=current_user.settings(:last_empresa).edited.nome_fantasia%> </a>
							<%end%>
							
						<%else%>
							
						<%end%>
						<ul class="dropdown-menu pull-right">
							<div class="mega-menu-content">
								<li>
									<% lastEmpTable.each do |item| %>
										<li>
											<a data-no-turbolink="true" id="Empresa<%=item.id%>"  value="<%=item.id%>" name="emp_link"><i class="icon-briefcase"></i><%= item.nome_fantasia %> </a>
										</li>
									<%end%>
								</li>
							</div>
						</ul>
					</li>
				</ul>
			</div>
			<!-- END MEGA MENU -->
		</div>
	</div>
	<!-- END HEADER MENU -->
</div>	
<%end%>
	<script>

		function unique(list) {
		    var result = [];
		    $.each(list, function(i, e) {
		        if ($.inArray(e, result) == -1) result.push(e);
		    });
		    return result;
		}

		var myApp = angular.module('myApp',[]); 

		//diretiva para somente numeros
		myApp.directive('numbersOnly', function(){
		   	return { require: 'ngModel',
	     		link: function(scope, element, attrs, modelCtrl) {
	      			modelCtrl.$parsers.push(function (inputValue) {
	           			if (inputValue == undefined) return '' 
           				var transformedInput = inputValue.replace(/[^0-9]/g, ''); 
           				if (transformedInput!=inputValue)
           				{
				            modelCtrl.$setViewValue(transformedInput);
				            modelCtrl.$render();
           				}         
	          			return transformedInput;         
	       			});
	     		}
	 		};
		});

		//diretiva para tamanho maximo
		myApp.directive('maxlength', function() {
		  return {
		    require: 'ngModel',
		    link: function (scope, element, attrs, ngModelCtrl) {
		      var maxlength = Number(attrs.myMaxlength);
		      function fromUser(text) {
		          if (text.length > maxlength) {
		            var transformedInput = text.substring(0, maxlength);
		            ngModelCtrl.$setViewValue(transformedInput);
		            ngModelCtrl.$render();
		            return transformedInput;
		          } 
		          return text;
		      }
		      ngModelCtrl.$parsers.push(fromUser);
		    }
		  }; 
		});

		//diretiva para tamanho minimo
		myApp.directive('minlength',function(){
		  return {
		    require: 'ngModel',
		    link: function(scope,elm,attr,ngModel){

		      var minlength = 0;

		      var minLengthValidator = function(value){     
		        var validity = ngModel.$isEmpty(value) || value.length >= minlength;
		        ngModel.$setValidity('minlength',  validity);
		        return validity ? value : undefined;
		      };

		      attr.$observe('myMinlength', function(val){
		         minlength = parseInt(val,10);
		         minLengthValidator(ngModel.$viewValue);
		      });

		      ngModel.$parsers.push(minLengthValidator);
		      ngModel.$formatters.push(minLengthValidator);
		    } 
		  };
		});
		
		<%if controller_name == "entidade" && action_name == "edit"%>
			myApp.controller('EntidadeCtrl', ['$scope', function($scope)
			{
				$scope.data = <%= send_json.to_s.html_safe %>;
				$scope.tipos_total = <%=returnItensUsuario.to_json.to_s.html_safe%>
				$scope.empresas_total = <%=returnEmpresas.to_json.to_s.html_safe%>
				$scope.empresa_atual = <%=(current_user.settings(:last_empresa).edited).id%>
				$scope.estados_total = <%=returnAllEstados.to_json.to_s.html_safe%>
				
				if ($scope.data.empresas.indexOf($scope.empresa_atual) <= -1)
				{
					$scope.data.empresas.push($scope.empresa_atual);
				}
				console.log($scope.data.empresas);
			   	
			   	$scope.save = function() {
			    	var request;
			    	request = $.ajax({
			      		method: 'post',
			      		url: '/entidades/save_angular/' + '<%= editingUser.id%>',
			      		data: { data: $scope.data }
			   	 	});
					window.location.replace('/entidades');
				}

				$scope.getValue = function(event, index) 
				{

					if ($scope.data.empresas.indexOf(Number(event.target.value)) <= -1)
					{
					  	$scope.data.empresas.push(Number(event.target.value));
					}
					else
					{
						var indexArray = $scope.data.empresas.indexOf(Number(event.target.value));
					 	if (index > -1) 
					 	{
						    $scope.data.empresas.splice(indexArray, 1);
						}
					}

			    	console.log($scope.data.empresas);
				}

				$scope.find_cep = function(cep, id)
				{
					$.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) 
					{
			            if (!("erro" in dados)) 
			           {
			               $("[name=rua"+ id + "]").val(dados.logradouro);
			                $("[name=bairro"+ id + "]").val(dados.bairro);
			               $("[name=cidade"+ id + "]").val(dados.localidade);

			                $scope.data.endereco[id].rua =  dados.logradouro;
			                $scope.data.endereco[id].bairro =  dados.bairro;
			                $scope.data.endereco[id].cidade =  dados.localidade;
			            }
			            else 
			            {
			                alert("CEP não encontrado.");
			            }
			        });
				}

				$scope.add_blank_end = function()
				{
					var blank_end = {"rua":"","num_rua":"","cep":"","uf":"","cidade":"","bairro":""};
					$scope.data.endereco.push(blank_end);
				}

				$scope.add_blank_end();

			}]);
		<%end%>
		
		jQuery(document).ready(function() 
		{       	
			Metronic.init(); // init metronic core components
			Layout.init(); // init current layout
			TableManaged.init();
			ComponentsDropdowns.init();

			$('[name="emp_link"]').click(function () 
			{
				var id = $(this).attr('value');
				$.ajax
				({
					type: 'post',
					url: '/users/set_current_emp',
					data: {emp_id : id},
					success: function(msg) {
		            window.location.reload(true);
		        }
				});
			});
		});
	</script>
		<% flash.each do |key, value| %>
			<%= content_tag :div, value, :class => "Metronic-alerts alert alert-danger fade in" unless value.blank? %>
		<% end %>

		<% if notice %>
			
		<% end %>
			
		<%= yield %>		
	</body>	
</html>
